<voucher options="text:getLabel('TUY_CHON','Tùy chọn').text">
	<voucher-body>
		<div class="table-responsive" style="overflow: auto">
			<table class="table table-striped table-hover">
				<tr>
					<th class="text-center" style="width:30px" ng-show="multiSelect"><input type="checkbox" ng-model="selectionAll" ng-change="selectionAllChange(selectionAll)"/></th>
					<th style="width:30px"></th>
					<th>{{getLabel('lenh_cap_phat','Lệnh cấp phát').text}}</th>


					<th>{{getLabel('don_hang_ban','Đơn hàng/hợp đồng bán').text}}</th>
					<th>{{getLabel('lenhsx','Lệnh sản xuất').text}}</th>
					<th>{{getLabel('t_sl','Tổng số lượng').text}}</th>
					<th>{{getLabel('da_xuat','Đã xuất kho').text}}</th>
				</tr>
				<tr ng-repeat="r in list|limitTo:limitOpts.limit:limitOpts.begin" drag-to-dismiss="delete(r._id,dismissCB)">
					<td width='30px' class="text-center" ng-show="multiSelect">
						<input type="checkbox" ng-model="r.sel"/>
					</td>
					<td class="text-center" style="width:30px">
						<div ng-include="'templates/sys/quick-actions.html'"></div>
					</td>
					<td>
						<div style='cursor:pointer' ng-click='edit(r._id)'>
							<span ng-if='r.ten_trang_thai' class="label bg-{{r.color}}">[{{ r.ten_trang_thai}}]</span>
							<span>Số lệnh: {{ r.so_ct }}</span>

							<span>, ngày lập: {{ r.ngay_ct|date:'dd/MM/yyyy'}}</span>
						</div>
						<div class="form-group" ng-show="r.trang_thai ==='3' && r.t_sl>r.t_sl_da_xuat">
							<button type="button" class="btn btn-primary btn-xs" ng-click="createPXK(r)">Tạo phiếu xuất kho</button>
						</div>
					</td>

					<td style='cursor:pointer' ng-click='edit(r._id)'>
						{{ r.so_ct_contract}}
					</td>

					<td style='cursor:pointer' ng-click='edit(r._id)'>
						{{ r.so_ct_lenhsx}}
					</td>

					<td style='cursor:pointer' ng-click='edit(r._id)'>
						{{ r.t_sl|number:f_sl}}
					</td>
					<td style='cursor:pointer' ng-click='edit(r._id)'>
						{{ r.t_sl_da_xuat|number:f_sl}}
					</td>
				</tr>
			</table>
			<ng-page></ng-page>
		</div>
	</voucher-body>
</voucher>
