<!--master form-->
<form-input>
	<form-input-body>
		<div class="form-group">
			<div class="col-md-4"  ng-show="!hideListProducts" ng-style="!isMobile?{height:(innerHeight-100).toString()+'px'}:{}">
				<products on-Select='select($item)' loai-gia="M" buy="true" ty-gia="data.ty_gia" scrollable="!isMobile"></products>
			</div>
			<div ng-class="hideListProducts?'col-md-12':'col-md-8'">
				<div class="page-frame page-frame-left" ng-class="!isMobile?'scrollable':''" ng-style="!isMobile?{height:(innerHeight-100).toString()+'px'}:{}">
					<div class="form-group scrollable-header page-frame page-frame-toolbar">
						<div class="col-md-1">
							<a href ng-click="hideListProducts=!hideListProducts" class="btn btn-default" title="{{getLabel('ds_san_pham','DS sản phẩm').text}}">

								<i ng-class="!hideListProducts?'fa fa-angle-double-left':'fa fa-angle-double-right'" aria-hidden="true"></i> <span ng-show="isMobile">{{getLabel('ds_san_pham','DS sản phẩm').text}}</span>
							</a>
						</div>

						<div class="col-md-2">
							<label class="control-label">{{getLabel('loai_phieu','Loại phiếu').text}}</label>
						</div>
						<div class="col-md-3">
							<select ng-model="data.ma_gd" class="form-control">
							<option value="0">{{getLabel('NHAP_KHO_NB','Nhập kho nội bộ').text}}</option>
							<option value="1">{{getLabel('NHAP_KHO_TP','Nhập thành phẩm').text}}</option>
						</select>
						</div>


						<label class="control-label col-md-2">{{getLabel('KHO','Kho').text}} <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
						<div class="col-md-4">
							<ng-selector module='dmkho' field-model='ma_kho' field-label='ten_kho' fields='ma_kho,ten_kho' ng-model='data.ma_kho' label='ten_kho' ng-required='true'>
							</ng-selector>
						</div>
					</div>
					<!--table detail-->
					<div class="form-group scrollable-content">
						<uib-tabset>
							<uib-tab heading="{{getLabel('CHI_TIET','Chi tiết').text}}">
								<pnk-detail-table ng-master-data='data'></pnk-detail-table>
							</uib-tab>
							<uib-tab heading="{{getLabel('MASTER','T.tin chung').text}}">

								<div class="form-group">
									<label class="control-label col-md-2">{{getLabel('SO_CT','Số chứng từ').text}} <span class='required' title="{{getLabel('SO_CT','Số chứng từ').text}} {{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
									<div class="col-md-4">
										<input type="text" style='text-transform:uppercase' name='so_ct' class="form-control" ng-model='data.so_ct' ng-required="true" />
									</div>

									<label class="control-label col-md-2"> {{getLabel('NGAY_CT','Ngày chứng từ').text}} <span class='required' title=" {{getLabel('NGAY_CT','Ngày chứng từ').text}} {{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
									<div class="col-md-4">
										<ng-datepicker ng-model='data.ngay_ct' ng-required='true'></ng-datepicker>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-2">{{getLabel('NGOAI_TE','Ngoại tệ').text}} <span class='required' title="{{getLabel('NGOAI_TE','Ngoại tệ').text}} {{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
									<div class="col-md-2">
										<ng-selector ng-disabled="data.details.length>0" module='dmnt' fields='ma_nt,ten_nt,ty_gia' field-model='ma_nt' field-label='ten_nt' on-select="data.ty_gia = $item.ty_gia" ng-model="data.ma_nt" ng-required="true">
										</ng-selector>
									</div>
									<div class="col-md-2">
										<input type="text" ng-data-loaded='isDataLoaded' ng-disabled="data.ma_nt=='VND' || !isDataLoaded" format="number" round='f_ty_gia' class="form-control" placeholder='Nhập tỷ giá' ng-model='data.ty_gia' ng-required="true" />
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-2">{{getLabel('TK_DU','TK đối ứng').text}} <span class='required'>(*)</span></label>
									<div class="col-md-4">
										<ng-typeahead module='dmtk' field-model='tk' field-label='ten_tk' fields='tk,ten_tk' ng-model='data.tk_du' label='data.ten_tk_du' condition="loai_tk:1">
										</ng-typeahead>
									</div>

									<label class="control-label col-md-2">{{getLabel('ma_vv','Vụ việc/dự án').text}}</label>
									<div class="col-md-4">
										<ng-typeahead module='dmdt' field-model='ten_dt' field-label='ma_dt' fields='ten_dt,ma_dt'
										 ng-model='data.ten_dt' label='data.ma_dt'>
										</ng-typeahead>
									</div>
								</div>
								<div class="form-group">
									<div class="form-group">
										<label class="control-label col-md-2">{{getLabel('ma_kh','Khách hàng').text}}</label>
										<div class="col-md-4">
											<ng-typeahead module='dmkh' field-model='ten_kh' field-label='ma_kh' fields='ten_kh,ma_kh'
											 ng-model='data.ten_kh' label='data.ma_kh'>
											</ng-typeahead>
										</div>
									</div>

									<div class="col-md-2">
										<label class="control-label">{{getLabel('ong_ba','Người giao dịch').text}}</label>
									</div>
									<div class="col-md-4">
										<input type="text" class="form-control" ng-model='data.ong_ba' placeholder="{{getLabel('ONG_BA','Người giao dịch').text}}" />
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-2">{{getLabel('DIEN_GIAI','Diễn giải').text}}</label>
									<div class="col-md-10">
										<input type="text" name='dien_giai' class="form-control" ng-model='data.dien_giai' />
									</div>

								</div>
								<div class="form-group">

									<label class="control-label col-md-2">{{getLabel('DVCS','Đơn vị cơ sở').text}} <span class='required' title="{{getLabel('DVCS','Đơn vị cơ sở').text}} {{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
									<div class="col-md-10">
										<ng-selector module='dvcs' fields='_id,ten_dvcs' field-model='_id' field-label='ten_dvcs' options="item._id as item.ten_dvcs for item in items" ng-model="data.ma_dvcs" ng-required="true">
										</ng-selector>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">{{getLabel('co_gia_tri_voi','Có giá trị với ').text}}</label>
									<div class="col-sm-10">
										<label ng-repeat="item in [{v:0,t:'Mọi người'},{v:1,t:'Chỉ người tạo'},{v:2,t:'Những người sau'}]"  class="control-label">
									<input type='radio' ng-model='data.visible_to' name='visible_to' ng-value="item.v"/> {{item.t}}
								</label>
										<ui-select ng-show='data.visible_to==2' multiple ng-model="data.visible_to_users" theme="bootstrap" close-on-select="false" title="Chọn một user">
											<ui-select-match placeholder="Chọn user..">{{$item.name}}</ui-select-match>
											<ui-select-choices repeat="person.email as person in members | propsFilter: {name: $select.search, email: $select.search}">

												<small>
											 {{person.name}}

										 </small>
											</ui-select-choices>
										</ui-select>
									</div>
								</div>
							</uib-tab>
							<uib-tab heading="{{getLabel('BO_XUNG','Đặc thù').text}} (*)" ng-show="data.options && data.options.fields && data.options.fields.length>0">
								<!--extra fields-->
								<div class="form-group" ng-repeat="field in  data.options.fields">
									<label class="control-label col-md-3">{{field.title}} <span class="required" ng-show="field.required">(*)</span></label>
									<div class="col-md-9">
										<input type="text" ng-if="field.type=='text'" ng-model="data.exfields[field.name]" class="form-control" ng-required="field.required" />
										<input type="text" format='number' ng-if="field.type=='number'" ng-model="data.exfields[field.name]" class="form-control" ng-required="field.required" />
										<ng-datepicker ng-model="data.exfields[field.name]" ng-if="field.type=='date'" ng-required="field.required"></ng-datepicker>

									</div>
								</div>
								<!--end extra fields-->
							</uib-tab>
						</uib-tabset>
					</div>
				</div>

			</div>
		</div>
	</form-input-body>
	<form-input-footer>
		<label class="control-label  col-md-offset-6 col-md-1  disable-small-screen">{{getLabel('TONG_SL','Tổng SL').text}} </label>
		<div class="col-md-2  disable-small-screen">
			<label class="form-control" ng-model='data.t_sl_nhap' ng-sum="sl_nhap" ng-data="data.details">{{data.t_sl_nhap|number:2}}</label>
		</div>

		<label  ng-show="app_info.show_gia_von" class="control-label col-md-1 col-xs-6">{{getLabel('TONG_CONG','Tổng cộng').text}} </label>
		<div class="col-md-2 col-xs-6"  ng-show="app_info.show_gia_von">
			<label class="form-control" ng-model='data.t_tien_nhap_nt' ng-sum="tien_nhap_nt" ng-data="data.details">{{data.t_tien_nhap_nt|number:2}}</label>
		</div>

	</form-input-footer>
</form-input>
