<div class='container'>
	<div class="col-sm-6 col-sm-offset-3 ksoft"  style="margin-top:50px">

		<h1 style="padding:10px"><span class="fa fa-sign-in"></span> {{getLabel('RESET_MAT_KHAU','Reset mật khẩu').text}}</h1>
		<div ng-class="alertType" ng-show="messageError" ng-show ="messageError">{{messageError}}</div>
		<!-- LOGIN FORM -->
		<form novalidate name ="form_signup" style="padding:10px">
			<div class="form-group">
				<label>Email <span class='required'>(*)</span></label>
				<input type="text" class="form-control"  ng-model="email" ng-required="true"/>
				
			</div>		
			<button class="btn btn-danger btn-md" ng-click ="resetPassword()" ng-disabled="form_signup.$invalid">{{getLabel('GUI','Gửi').text}}</button>
			<a href="#!/login" class="btn btn-primary btn-md">{{getLabel('DANG_NHAP','Đăng nhập').text}}</a>
		</form>

	</div>

		
</div>