<div class="table-responsive detail-table">
	<table class="table table-form">
		<tr>
			<th>{{getLabel('SO_LUONG_XUAT','SL xuất').text}}</th>
			<th>{{getLabel('GIA_BAN','Giá bán').text}}
				</th>

			<th>{{getLabel('DOANH_THU','Doanh thu').text}}
				</th>

			<th>{{getLabel('TIEN_CK','Tiền CK').text}}
				</th>

			<th>{{getLabel('TIEN','Tiền').text}}
				</th>

		</tr>
		<tbody ng-repeat="r in ngMasterData.details">
			<tr >
				<td colspan="17" style='cursor:pointer'>
					<div style='padding-right:10px;font-size: 18px;' title="Xóa dòng này" class="pull-left close" ng-click="delete1Row(r)">

						&times;
					</div>
					<div style='cursor:pointer' ng-click='editDetail(r.line)'>
						<b>{{r.ten_vt}}
							-
							{{r.ma_vt}}</b>
						({{r.ma_dvt}})
						<span ng-if='r.ma_lo'>,
							{{getLabel('LO','Lô').text}}:
							{{r.ma_lo}}</span>
						<span ng-if='r.han_sd'>,
							{{getLabel('hsd','HSD').text}}:
							{{r.han_sd|date:'dd/MM/yy'}}</span>
						<span ng-if='r.ma_tt1'>,
							{{getLabel('TT1','TT1').text}}:
							{{r.ma_tt1}}</span>
						<span ng-if='r.ma_tt2'>,
							{{getLabel('TT2','TT2').text}}:
							{{r.ma_tt2}}</span>
						<span ng-if='r.ma_tt3'>,
							{{getLabel('TT3','TT3').text}}:
							{{r.ma_tt3}}</span>
					</div>
				</td>
			</tr>
			<tr>
				<td style='cursor:pointer' ng-click='editDetail(r.line)'>
					{{r.sl_xuat|number:f_sl}}
				</td>

				<td style='cursor:pointer' ng-click='editDetail(r.line)'>
					{{r.gia_ban_nt|number:f_tien_nt}}
				</td>

				<td style='cursor:pointer' ng-click='editDetail(r.line)'>
					{{r.tien_hang_nt|number:f_tien_nt}}
				</td>

				<td style='cursor:pointer' ng-click='editDetail(r.line)'>
					{{r.tien_ck_nt|number:f_tien_nt}}
				</td>

				<td style='cursor:pointer' ng-click='editDetail(r.line)'>
					{{r.tien_nt|number:f_tien_nt}}
				</td>

			</tr>
			<tr>
				<td colspan="17" style="border-top:0px solid silver!important">
					<div>
						<input type='text' class="form-control" ng-model="r.dien_giai" placeholder="{{getLabel('quy_cach','Quy cách, chất liệu...').text}}"/>
					</div>
				</td>
			</tr>
			<tr ng-click='editDetail(r.line)'>
				<td style="border-top:0px solid silver!important; cursor:pointer" colspan="17">
					<span ng-repeat="(key,value) in r.exfields_detail" ng-show="key.indexOf('tien_phi')<0">
						{{getLabel(key,key).text + ': ' +  value}},
					</span>
				</td>
			</tr>
		</tbody>

	</table>
</div>
<div style='padding-bottom:13px;padding-left:10px;padding-top:10px'>
	<div class='btn-group'>
		<button type="button" class='btn btn-xs btn-primary' ng-click="addDetail()">
			<i class="fa fa-plus-square-o" aria-hidden="true"></i> {{getLabel('dong_moi','Thêm dòng mới').text}}
		</button>
	</div>
</div>
