a {
    color: #337ab7;
    text-decoration: none!important;
}
.table>tbody+tbody {
    border-top: 0px solid #ddd;
}
.table-form>tbody+tbody{
    border-top:1px solid #A2B7DB!important;
}
.table-form>tbody>tr>td{
    border:0px solid silver!important;
}
.modal-dialog {
  /*width: 100%;
  height: 100%!important;*/
  margin: 0!important;
  padding: 0!important;
}
.modal-content {
  height: auto;
  min-height: 100%!important;
  border-radius: 0;
}

.modal-lg{
	width:1200px!important;
	margin:auto!important;
}
.modal-md{
	width:1100px!important;
	margin:auto!important;
}
.modal-sm{
	width:720px!important;
	margin:auto!important;
}
.modal-xs{
	width:500px!important;
	margin:auto!important;
}

@media(max-width:1100px){
  .modal-lg{
		width:100%!important;
		margin:auto!important;
	}

	.modal-md{
		width:100%!important;
		margin:auto!important;

	}
}



.editable-checklist label {
  display: block!important;
}
.tab-custom .tab-content{
  padding:10px 5px 0px 5px;
	/*background-color:white;
  padding:5px 5px 5px 5px;

	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;*/
}
.nav>li>a {
    padding: 15px 10px!important;
}
.nav-tabs{
  border:0;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(163,157,163,1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(163,157,163,1);
  box-shadow: 0px 1px 5px 0px rgba(163,157,163,1);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: inherit;
    border:none;
    border-bottom:2px solid #0550A3;
}
.container-fluid {
  padding-right: 0px!important;
  padding-left: 0px!important;
}
.ng-isolate-scope{
	/*padding:0px!important;*/
}
.header-view{
	border:1px solid #ddd;
	padding:10px 0 10px 0;
	margin-bottom:1px;
	background-color:#f9f9f9;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2
, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4
, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6
, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8
, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10
, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  min-height: 1px;
  position: relative;
  padding-right: 0px!important;
  padding-left: 0px!important;
}

form .col-xs-1, form .col-sm-1, form .col-md-1, form .col-lg-1, form .col-xs-2, form .col-sm-2,
form .col-md-2, form .col-lg-2, form .col-xs-3, form .col-sm-3, form .col-md-3, form .col-lg-3,
form .col-xs-4, form .col-sm-4, form .col-md-4, form .col-lg-4, form .col-xs-5, form .col-sm-5,
form .col-md-5, form .col-lg-5, form .col-xs-6, form .col-sm-6, form .col-md-6, form .col-lg-6,
form .col-xs-7, form .col-sm-7, form .col-md-7, form .col-lg-7, form .col-xs-8, form .col-sm-8,
form .col-md-8, form .col-lg-8, form .col-xs-9, form .col-sm-9, form .col-md-9, form .col-lg-9,
form .col-xs-10, form .col-sm-10, form .col-md-10, form .col-lg-10, form .col-xs-11, form .col-sm-11,
form .col-md-11, form .col-lg-11, form .col-xs-12, form .col-sm-12, form .col-md-12, form .col-lg-12 {
  padding-right: 5px!important;
  padding-left: 5px!important;
}

.dashboard-container .col-xs-1, .dashboard-container .col-sm-1, .dashboard-container .col-md-1, .dashboard-container .col-lg-1, .dashboard-container .col-xs-2,
.dashboard-container .col-sm-2, .dashboard-container .col-md-2, .dashboard-container .col-lg-2, .dashboard-container .col-xs-3, .dashboard-container .col-sm-3,
.dashboard-container .col-md-3, .dashboard-container .col-lg-3, .dashboard-container .col-xs-4, .dashboard-container .col-sm-4, .dashboard-container .col-md-4,
.dashboard-container .col-lg-4, .dashboard-container .col-xs-5, .dashboard-container .col-sm-5, .dashboard-container .col-md-5, .dashboard-container .col-lg-5,
.dashboard-container .col-xs-6, .dashboard-container .col-sm-6, .dashboard-container .col-md-6, .dashboard-container .col-lg-6, .dashboard-container .col-xs-7,
.dashboard-container .col-sm-7,.dashboard-container .col-md-7, .dashboard-container .col-lg-7, .dashboard-container .col-xs-8, .dashboard-container .col-sm-8,
.dashboard-container .col-md-8, .dashboard-container .col-lg-8, .dashboard-container .col-xs-9, .dashboard-container .col-sm-9, .dashboard-container .col-md-9,
.dashboard-container .col-lg-9, .dashboard-container .col-xs-10, .dashboard-container .col-sm-10, .dashboard-container .col-md-10, .dashboard-container .col-lg-10,
.dashboard-container .col-xs-11, .dashboard-container .col-sm-11, .dashboard-container .col-md-11, .dashboard-container .col-lg-11, .dashboard-container .col-xs-12,
.dashboard-container .col-sm-12, .dashboard-container .col-md-12, .dashboard-container .col-lg-12 {
  padding-right: 10px!important;
  padding-left: 10px!important;
}
.dashboard-container .panel{
  -webkit-box-shadow: 1px 2px 17px -4px rgba(0,0,0,0.45);
  -moz-box-shadow: 1px 2px 17px -4px rgba(0,0,0,0.45);
  box-shadow: 1px 2px 17px -4px rgba(0,0,0,0.45);
}
.row {
  margin-right: 0px!important;
  margin-left: 0px!important;
  padding-bottom:0px!important;
}

.form-horizontal .form-group {
  margin-right: 0px!important;
  margin-left: 0px!important;
  margin-bottom:3px!important;
  padding:5px!important;
}
.navbar{
	border-radius:0px;
	margin-bottom: -1px;
	min-height: 30px!important;
    padding-left:8px;
    padding-right:8px;
}

.navbar-form {
    padding-top: 0px!important;
	padding-bottom: 0px!important;
    margin-top: 0px!important;
    margin-bottom: 0px!important;

}

.dropdown-menu {

    min-width: 95px!important;

}


.form-input {
	padding:0px;
	/*border:1px solid #ddd;*/
}
.header-input{
	border-bottom:1px solid #ddd;
	padding:10px 10px 10px 10px;
	margin-bottom:15px;
	background-color:#f9f9f9;
}
.header-form{
    font-size: 18px;
}
.modal-body {
  padding: 10px!important;
}
.control-label{
	padding-top: 5px!important;
	line-height: 28px!important;
	padding-right:5px!important;
  padding-left:5px!important;
	white-space:nowrap;
}
.field-label{
	padding-top: 5px;
	line-height: 28px;
	padding-right:10px!important;
	white-space:nowrap;
}
.total{
	background-color:#DFF3F5!important
}
.pagination, .carousel,a, .panel-title a { cursor: pointer; }

.panel-default > .panel-heading {
    background-color: #f9f9f9!important;
}

.panel-default {
    border:1px solid  #ddd
}

.required{
	color:red;
	/*font-size:11px;
	margin-left:-2px;*/
}
.table-responsive{
	overflow: auto;
	min-height:100%!important;
}
.table-list{
	overflow: auto;
	min-height:96%!important;
}
.form-control{
  border-top:none!important;
  border-left:none!important;
  border-right:none!important;
  background-color: inherit!important;
  min-width: 115px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: inherit;
    opacity: 1;
    border-bottom-style:dotted;
    color:gray;
}
.input-group .btn, .btn-flat{
  border:none;
  border-radius: 0;
  background-color: inherit;
  color:black;
}


th, th a{
	/*text-align:center;*/
	background-color:#f9f9f9;
  white-space:nowrap!important;
}
label, .cbold, b, strong{
	font-weight: 500!important;
}
.ta-editor.ta-html, .ta-scroll-window.form-control{
	min-height: 150px!important;
}
.ta-scroll-window .ta-bind {
    min-height: 150px!important;
}
.cnormal{
	font-weight:normal;
}
.cerror{
	color:red
}
/*trang thai dat hang */
.order-status{
    height:50px;
    border:1px solid gray;
    padding-top:15px;
    cursor: pointer;
}
.order-status-active{
    background-color: aliceblue;
}
.order-status-box-line{
    height:50px;
    padding-top:25px
}
.order-status-line{
    height:1px;
    border-top:1px solid gray;
}
/*report*/
.page-frame .ui.cards {
    margin: 0px!important;
}
.page-frame,.table-list{
  -webkit-box-shadow: 1px 2px 17px -4px rgba(0,0,0,0.45);
  -moz-box-shadow: 1px 2px 17px -4px rgba(0,0,0,0.45);
  box-shadow: 1px 2px 17px -4px rgba(0,0,0,0.45);
  border-radius: 3px;
  margin:10px;
}

.form-body .page-frame,.form-body .table-list{
  -webkit-box-shadow: 1px 2px 17px -4px rgba(0,0,0,0.45);
  -moz-box-shadow: 1px 2px 17px -4px rgba(0,0,0,0.45);
  box-shadow: 1px 2px 17px -4px rgba(0,0,0,0.45);
  border-radius: 3px;
  margin:5px 5px 5px 5px;
}
.form-body .page-frame-left{
  margin-left:10px!important;
}
.form-body .page-frame-toolbar{
  margin-top:0px!important;
}
.page-frame-footer{
  margin:0px 0px 0px 0px!important;

}

.form-body .panel,.draggable-task .panel{
  -webkit-box-shadow: 1px 2px 17px -4px rgba(0,0,0,0.45);
  -moz-box-shadow: 1px 2px 17px -4px rgba(0,0,0,0.45);
  box-shadow: 1px 2px 17px -4px rgba(0,0,0,0.45);
  border-radius: 3px;
  margin:10px 10px 20px 10px;
}
.condition-report form{
  padding:5px;
}
@media (max-width: 720px) {
  .form-body .page-frame,.form-body .panel{
    margin: 10px 0px 10px 0px;
  }
  .form-body .page-frame-left{
    margin-left:0px!important;
  }

  .form-body .page-frame-toolbar{
    margin-top:0px!important;
  }

  .page-frame-footer{
      margin:0px 0px 0px 0px!important;
  }

  .draggable-task .panel-body{
    padding:10px 10px 10px 10px;
  }
}
/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
	display: block;     /* undo display:none          */
	height: 0;          /* height:0 is also invisible */
	/*overflow-y: hidden; */
	overflow-x: hidden; /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
	height: auto;       /* let the content decide it  */
} /* bootstrap hack end */

/*--nhung tinh nang chua xong*/
.cdxd{
	color:#BABFBF
}
.so1-1, .so1-1 td{
	color:red;
}
.so1-2, .so1-2 td{
	color:brown;
}
.so1-3, .so1-3 td{
	color:blue;
}
.so1-4, .so1-4 td{
	color:green;
}
.so1-5, .so1-5 td{
	color:silver
}
.sub-page-title{
	font-size:18px
}
@media (min-height: 600px) {
	.ksoft{
		margin-top:50px;
	}
}
@media (min-width: 992px) {
	.disable-medium-screen{
		display:none
	}
	.scrollable-content{
		/*padding-bottom:80px*/
	}
	.ksoft{
    -webkit-box-shadow: -2px -1px 16px 0px rgba(219,215,219,1);
    -moz-box-shadow: -2px -1px 16px 0px rgba(219,215,219,1);
    box-shadow: -2px -1px 16px 0px rgba(219,215,219,1);
	}
}
@media (max-width: 991px) {
	.task-db{
		height: auto;
	}
	.disable-small-screen{
		display:none
	}
	.scrollable-content{
		/*padding-bottom:116px;*/
	}

    .bar-top{
        padding-top:10px;
    }
    .company-title{
        padding-top:10px;
    }
    .app-body-sm {
		padding-top: 60px!important
	}
    .ksoft{
		border:0px solid silver;
	}

}
@media (max-width: 767px) {
  .navbar{
    padding-left:0px;
    padding-right:0px;
  }
  .modal-sm{
		width:100%!important;
		margin:auto!important;
	}
	.modal-xs{
		width:100%!important;
		margin:auto!important;
	}
  .form-horizontal .form-group {
    margin-bottom: 5px!important;
    padding: 0px!important;
  }
  .table-responsive {
    margin-bottom: 0px;
    border: none!important;
  }
  .panel-body {
      padding: 0px;
  }
	.current-app{
		display:none
	}
	.sub-page-title{
		display:none
	}
	.nav-record{
		display:none
	}
	.disable-small-screen{
		display:none
	}
    .small-screen{
		font-size: 12px!important
	}
	.app-body-sm {
		padding-top: 60px!important;
	}
  .navbar-brand-left{
      min-width:180px!important;
  }
	*:not(input):not(textarea) {
	   -khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
	}
}
@media (max-width: 450px) {
	.current-app{
		display:none
	}
	.sub-page-title{
		display:none
	}
	.nav-record{
		display:none
	}
	.disable-small-screen{
		display:none
	}
    .small-screen{
		font-size: 12px!important
	}
	/*.app-body-sm {
		padding-top: 110px!important;
	}*/
  .navbar-brand-left{
      min-width:180px!important;
  }
	*:not(input):not(textarea) {
	   -khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
	}
}
/*format footer*/
#footer {
	background-color: #f5f5f5;
  }
/*overlay*/
.full-page-overlay{
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 19999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    /*transition: 0.5s; */
}
.overlay-content {
    position: relative;
    top: 45%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    color: white;
    font-size:32px;
}
.spin{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	font-size:18px;
	color:white
}
.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}
.loading-spinner-small {
  position: absolute;
  font-size: 30px;
  top: 40%;
  margin-left: -10px;
  margin-top: -10px;
  color:red;
}
/*data loader*/
@-moz-keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
@-webkit-keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
@keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
/* :not(:required) hides these rules from IE9 and below */
.throbber-loader:not(:required) {
  -moz-animation: throbber-loader 2000ms 300ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 300ms infinite ease-out;
  animation: throbber-loader 2000ms 300ms infinite ease-out;
  background: #dde2e7;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 0.9em;
  height: 1.5em;
  margin: 0 1.6em;
}
.throbber-loader:not(:required):before, .throbber-loader:not(:required):after {
  background: #dde2e7;
  content: '\x200B';
  display: inline-block;
  width: 0.9em;
  height: 1.5em;
  position: absolute;
  top: 0;
}
.throbber-loader:not(:required):before {
  -moz-animation: throbber-loader 2000ms 150ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 150ms infinite ease-out;
  animation: throbber-loader 2000ms 150ms infinite ease-out;
  left: -1.6em;
}
.throbber-loader:not(:required):after {
  -moz-animation: throbber-loader 2000ms 450ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 450ms infinite ease-out;
  animation: throbber-loader 2000ms 450ms infinite ease-out;
  right: -1.6em;
}
/*rtable*/
.rtable a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.rtable a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.rtable a:active,
.rtable a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
.rtable {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
.rtable th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.rtable th:first-child {
	text-align: left;
	padding-left:20px;
}
.rtable tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.rtable tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.rtable tr {
	/*text-align: center;*/
	padding-left:20px;
}
.rtable td:first-child {
	/*text-align: left;*/
	padding-left:20px;
	border-left: 0;
}
.r-text-right {
	text-align: right;
}
.r-text-left {
	text-align: left;
}
.rtable td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.rtable tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.rtable tr:last-child td {
	border-bottom:0;
}
.rtable tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.rtable tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.rtable tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.chuahoanthanh{
	background-color: rgb(132, 222, 175);
	color: black;
}
.dismiss {
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  -moz-transition: opacity 300ms, -moz-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  opacity: 0.5;
}
.showeffect {
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  -moz-transition: opacity 300ms, -moz-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  opacity:1;
}

.dismitted {
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  -moz-transition: opacity 300ms, -moz-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  opacity:0;
}
.bar-top{
    color:white;
    text-decoration:none
}
.bar-top a{
    color:white;
    text-decoration:none
}
.bar-top i{
    color:white;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.modal-open {
    position: fixed;
    overflow: hidden;
}
.bg-aqua{
	background-color:aqua; color:black
}
.bg-aquamarine{
	background-color:aquamarine; color:black
}
.bg-beige{
	background-color:beige; color:black
}
.bg-bisque{
	background-color:bisque; color:black
}
.bg-blue{
	background-color:blue; color:black
}
.bg-lightBlue{
	background-color:lightBlue; color:black
}
.bg-cornflowerBlue{
	background-color:cornflowerBlue; color:black
}
.bg-green{
	background-color:green;
    color:white
}
.bg-yellow{
	background-color:yellow; color:black
}
.bg-Gold{
	background-color:Gold; color:black
}
.bg-red{
	background-color:red;
    color:white
}
.bg-brown{
	background-color:brown;
    color:white
}
.bg-gray{
	background-color:gray; color:black
}
.bg-silver{
	background-color:silver; color:black
}

tr.ng-enter,div.ng-enter,li.ng-enter,tbody.ng-enter  {
  -webkit-transition: 1s;
  transition: 1s;
   opacity:0;
}
tr.ng-enter-active,div.ng-enter-active,li.ng-enter-active,tbody.ng-enter-active  {
  opacity:1;
}


tr.ng-leave ,.card.ng-leave,tbody.ng-leave {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity:1;
}
tr.ng-leave-active,.card.ng-leave-active,tbody.ng-leave-active  {
  opacity:0;
}
/*config dashboard chart*/
.button-slide {
  position: fixed;
  top:120px;
  transition: all .3s;
  overflow: hidden;
  z-index:1200;
  padding:0px;
  border-radius: 3px;
}
.button-slide-content {
  background-color:#fff;
  padding:5px;
   border: 1px solid transparent;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0 0 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.0980392) 0 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0 0 1px 2px;
  overflow: hidden;

}
.vertical-text {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	font-size:12px;
	word-wrap: break-word;
}
/*chat box*/
.chat_box {
  background: #fff;
  width: 250px;
  height: 250px;
  position: fixed;
  bottom: -210px;
  right: 10px;
  transition: all .3s;
  border: 1px solid transparent;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0 0 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.0980392) 0 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0 0 1px 2px;
  overflow: hidden;
  z-index:999;
}

.pesan_chat {
  text-align: center;
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 5px 5px 15px;
}

.chat_button {
  background: #4d90fe;
  border: 0;
  margin: 0 auto;
  padding: 5px 18px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  transition: all .3s;
  text-decoration: none;
}

.chat_button:hover {
  background: #365899;
}

.chatheader {
  margin: 0 auto;
  padding: 0 10px;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  font-weight: 700;
  color: #616161;
  text-align: center;
  display: block;
  cursor: pointer;
}

.pesan_chat p {
  color: #616161;
  font-size: 16px;
  margin: 10px;
}
.toast-system {
    background-image: #51A351!important;
    background-color: #51A351;
}
.section-info,.label-info {
    background-color: #0550A3;
}
.icon-function {
    /*color: #0550A3;*/
}
.sidebar-left {
    background: white;
}
.sidebar-left.company-title{
    padding-left:5px;margin-bottom:1px;
}
.sidebar-left.company-title a{
    text-decoration:none;
	padding:5px;

}

.list-group-item.active, .list-group-item.active:focus {
    background-color: #0550A3;
    border-color: #0550A3;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity: .2;
}
.badge {
    background-color: #F74044;
}
.input-lg{
	height:52px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.draggable-task .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 50px;
}
.draggable-task .col-md-3{
  padding-left:10px!important;
  padding-right:10px!important;
}
.trashcan{
	position: fixed;
  bottom: 20px;
	right:20px;
	font-size:64px;
}

.trashcan .dndPlaceholder {
    display: none;
}
.task-card{
  margin:10px 0px 10px 0px;
  border:1px solid #ddd;
  border-radius: 3px;
}
.scrollable{
  width: auto;
}
.detail-table .action-buttons,.detail-table .action-buttons div{
  width:65px!important;
}
@media (min-width: 1200px) {
  /*::-webkit-scrollbar {
      width: 5px;
  }
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
      background: #C3C3C3;
      border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
      background: #888;
  }*/
  .body-master .table-responsive{
    min-height: 300px!important;
  }
}

.panel-body {
    padding: 0px!important;
}
