<form-input><form-input-body>
		
		<uib-tabset>
			<uib-tab heading='Thông tin công ty'>
				<div class='row'>
					<div class='col-sm-6'>
						<div class="form-group">
							<label class="control-label col-sm-4">Tên công ty/cửa hàng <span class="required">(*)</span></label>
							<div class="col-sm-8">
								<input type="text" name ='name'  class="form-control"  ng-model='data.name' ng-required="true">
							
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4">Tên viết tắt</label>
							<div class="col-sm-4">
								<input type="text"  class="form-control"  ng-model='data.exfields.short_name'>
							
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4">Địa chỉ <span class="required">(*)</span></label>
							<div class="col-sm-8">
								<input type="text" name ='address'   class="form-control"  ng-model='data.address' ng-required='true'>
							
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4">Quận huyện</label>
							<div class="col-sm-8">
								<input type="text" name ='city'   class="form-control"  ng-model='data.city'>
							
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4">Tỉnh thành  <span class="required">(*)</span></label>
							<div class="col-sm-8">
								<select ng-model='data.province' class='form-control' ng-required='true'>
									<option ng-repeat='tt in province'  ng-value='tt'>{{tt}}</option>
								</select>
							</div>
						</div>
						<!--<div class="form-group">
							<label class="control-label col-sm-4">Quốc gia</label>
							<div class="col-sm-8">
								<input type="text" name ='country'   class="form-control"  ng-model='data.country'>
							
							</div>
						</div>
						-->
						<div class="form-group">
							<label class="control-label col-sm-4">Điện thoại <span class="required">(*)</span></label>
							<div class="col-sm-8">
								<input type="text"   class="form-control"  ng-model='data.phone' ng-required='true'>
							
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4">Email <span class="required">(*)</span></label>
							<div class="col-sm-8">
								<input type="email"   class="form-control"  ng-model='data.email' ng-required='true'>
							
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-4">Giám đốc</label>
							<div class="col-sm-8">
								<input type="text"  class="form-control"  ng-model='data.giam_doc'>
							
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4">Kế toán trưởng</label>
							<div class="col-sm-8">
								<input type="text"  class="form-control"  ng-model='data.ke_toan_truong'>
							
							</div>
						</div>
					</div>
					<div class ='col-sm-6'>
						<div class="form-group">
							<label class="control-label col-sm-6">Ngày đầu năm tài chính  <span class="required">(*)</span></label>
							<div class="col-sm-6">
								<ng-datepicker ng-model='data.ngay_dn' ng-required='true'></ng-datepicker>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-6">Ngày sử dụng chương trình  <span class="required">(*)</span></label>
							<div class="col-sm-6">
								<ng-datepicker ng-model='data.ngay_ky1' ng-required='true'></ng-datepicker>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-6">Ngày khóa sổ  <span class="required">(*)</span></label>
							<div class="col-sm-6">
								<ng-datepicker ng-model='data.ngay_ks' ng-required='true'></ng-datepicker>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-6">Người nộp thuế</label>
							<div class="col-sm-6">
								<input type="text"  class="form-control"  ng-model='data.nguoi_nop_thue'>
							
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-6">Mã số thuế</label>
							<div class="col-sm-6">
								<input type="text"  class="form-control"  ng-model='data.ma_so_thue'>
							
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-6">Logo</label>
							<div class="col-sm-6">
								<img  img-cache ic-src="{{server_url}}{{data.logo}}" style="width:128px;height:128px"/>
								<br/>
								<div  file-upload-progress>
									<div class="throbber-loader"></div>
									<br/>
								 </div>
								<input type="file" image-upload  model ='data.logo' folder='logos'/>
							</div>
						</div>
					</div>
				</div>
				<a ng-click="hien_thong_tin_khac = hien_thong_tin_khac?false:true">Nhiều thông tin hơn...</a>
				<div ng-show="hien_thong_tin_khac">
					<div class="form-group">
						<label>Giới thiệu về công ty/cửa hàng</label>
						<div>
							<textarea ui-tinymce="tinymceOptions" ng-model="data.gioi_thieu"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label>Ngành kinh doanh</label>
						
						<div>
							<textarea ui-tinymce="tinymceOptions" ng-model="data.nganh_nghe"></textarea>
						</div>
					</div>
					
					<div class="form-group">
						<div class='checkbox'>
							<label><input type='checkbox' ng-model='data.sale_online'/> Bán hàng online</label>
						</div>
					</div>
					<div class="form-group" ng-if='data.sale_online'>
						<label>Trang bán hàng</label>
						<div>
							<input type="text" class="form-control"  ng-model='data.site_name'>
						</div>
					</div>
					<div class="form-group" ng-if='data.sale_online'>
						<label>Facebook</label>
						<div>
							<input type="text" class="form-control"  ng-model='data.facebook'>
						</div>
					</div>
					<div class="form-group" ng-if='data.sale_online'>
						<label>Từ khóa để SEO</label>
						<div>
							<textarea class="form-control"  ng-model='data.keywords'></textarea>
						</div>
					</div>
					<div class="form-group"  ng-if='data.sale_online'>
						<label>Chính sách vận chuyển</label>
						<div>
							<textarea  class="form-control"  ng-model='data.van_chuyen'></textarea>
						</div>
					</div>
					<div class="form-group"  ng-if='data.sale_online'>
						<label>Chính sách bảo hàng</label>
						<div>
							<textarea class="form-control"  ng-model='data.bao_hanh'></textarea>
						</div>
					</div>
					
				</div>
			</uib-tab>
			
			
			<uib-tab heading='Người dùng'>
				<table class='table table-bordered'>
					<tr>
						<th class="row">
							<div class="col-xs-8 text-left">Tên</div>
							<div class="col-xs-4 text-right">
								<button class="btn btn-sm btn-primary" ng-click="addUser()">Thêm mới</button>
							</div>
						</th>
						<th style='width:100px'>Quản trị</th>
						<th style='width:100px'>Nhóm</th>
						<th style='width:100px'>hotline</th>
						<th style='width:100px'>Số nội bộ</th>
						<th style='width:80px'>Xóa</th>
					</tr>
					
					<tr ng-repeat='r in data.participants'>
						<td>
							<div>
								<div class="media-left">
									<img ng-src='{{server_url}}{{r.picture}}' style='width:42px;height:42px'/>
								</div>
								<div class="media-body">
									<div>{{r.name}}</div>
									<small>{{r.email}}</small>
								</div>
							</div>
						</td>
						
						<td class='text-center'>
							<input type='checkbox' ng-model='r.admin'/>
						</td>
						<td>
							<ng-selector
								module="usergroup" fields="_id,group_name" field-model="_id" field-label = "group_name"
								 ng-model='r.group_id'>
							</ng-selector>
						</td>
						<td class='text-center'>
							<input type='text' ng-model='r.hotline' placeholder="hotline"/>
						</td>
						<td class='text-center'>
							<input type='text' ng-model='r.ext' placeholder="Số nội bộ"/>
						</td>
						
						<td class='text-center'>
							<a class='btn btn-danger btn-xs' ng-click ='deleteParticipant(r.email)'>Xóa</a>
						</td>
					</tr>
				</table>
	

			</uib-tab>
			
		</uib-tabset>
					
</form-input-body></form-input>


