
 <form-detail><form-detail-body>
		<div class="form-group">
			<label class="control-label col-sm-2">{{getLabel('TK_NO','Tài khoản nợ').text}} <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
			<div class="col-sm-4">
				<ng-typeahead 
					module='dmtk' fields='tk,ten_tk' field-model='tk' field-label='ten_tk'
					ng-model='dt_current.tk_no' label='dt_current.ten_tk_no' ng-required='true' condition="loai_tk:1">
				</ng-typeahead>
			</div>
			<div  class="col-sm-6 field-label">{{dt_current.ten_tk_no}}</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">{{getLabel('HE_SO','Hệ số').text}} <span class='required' title="{{getLabel('BIGGER_ZERO','Phải lớn hơn 0').text}}">(*)</span></label>
			<div class="col-sm-2">
				<input type="number" min="0.00001" class="form-control" ng-model='dt_current.he_so' ng-required="true"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2">{{getLabel('VU_VIEC','Vụ việc').text}}</label>
			<div class="col-sm-4">
				<ng-typeahead
					module='dmdt' field-model='ten_dt' field-label='ma_dt' fields ='ma_dt,ten_dt'
					ng-model='dt_current.ten_dt' label='dt_current.ma_dt'>
				</ng-typeahead>
			</div>
			<label class="control-label col-sm-2">{{getLabel('HOP_DONG','Hợp đồng').text}}</label>
			<div class="col-sm-4">
				<ng-typeahead
					module='contract' field-model='ten_hd' field-label='so_hd' fields ='so_hd,ten_hd'
					ng-model='dt_current.ten_hd' label='dt_current.ma_hd'>
				</ng-typeahead>
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2">{{getLabel('KHACH_HANG','Khách hàng').text}}</label>
			<div class="col-sm-4">
				<ng-typeahead
					module='dmkh' field-model='ten_kh' field-label='ma_kh' fields ='ma_kh,ten_kh'
					ng-model='dt_current.ten_kh' label='dt_current.ma_kh'>
				</ng-typeahead>
			</div>
			<label class="control-label col-sm-2">{{getLabel('PHI','Phí').text}}</label>
			<div class="col-sm-4">
				<ng-typeahead
					module='dmphi' field-model='ten_phi' field-label='ma_phi' fields ='ma_phi,ten_phi'
					ng-model='dt_current.ten_phi' label='dt_current.ma_phi'>
				</ng-typeahead>
			</div>
		</div>
		
		<!--<div class="form-group">
			<label class="control-label col-sm-2">{{getLabel('TK_NO1','Tài khoản nợ 1').text}} </label>
			<div class="col-sm-4">
				<ng-typeahead 
					module='dmtk' fields='tk,ten_tk' field-model='tk' field-label='ten_tk'
					ng-model='dt_current.tk_no1' label='dt_current.ten_tk_no1' condition="loai_tk:1">
				</ng-typeahead>
			</div>
			
			<label class="control-label col-sm-2">{{getLabel('TK_CO1','Tài khoản có 1').text}} </label>
			<div class="col-sm-4">
				<ng-typeahead 
					module='dmtk' fields='tk,ten_tk' field-model='tk' field-label='ten_tk'
					ng-model='dt_current.tk_co1' label='dt_current.ten_tk_co1' condition="loai_tk:1">
				</ng-typeahead>
			</div>
			
		</div>
		-->
</form-detail-body></form-detail>
