
<div class="table-responsive detail-table">
	<table class="table table-hover" >

		<tr>
			<th class='text-center'></th>
			<th>{{getLabel('TK_NO','Tài khoản nợ').text}}</th>
			<th>{{getLabel('HE_SO','Hệ số').text}}</th>
			<th>{{getLabel('KHACH_HANG','Khách hàng').text}}</th>
			<th>{{getLabel('BO_PHAN','Bộ phận').text}}</th>
			<th>{{getLabel('HOP_DONG','Hợp đồng').text}}</th>
			<th>{{getLabel('VU_VIEC','Vụ việc').text}}</th>
			<th>{{getLabel('PHI','Phí').text}}</th>

		</tr>

		<tr ng-repeat="r in ngMasterData.details">
			<td class="action-buttons">
				<div>
					<button class="btn btn-default btn-sm" style="border:none!important" ng-click='editDetail(r.line)' title="Sửa chi tiết">
						<i class="fa fa-pencil" aria-hidden="true"></i>
					</button>
					<button class="btn btn-default btn-sm"  style="border:none!important"  title="Xóa dòng này" ng-click="delete1Row(r)">&times;</button>
				</div>
			</td>

			<td  style='cursor:pointer' ng-click='editDetail(r.line)'>
				<div>{{r.tk_no}}</div>
			</td>
			<td  style='cursor:pointer' ng-click='editDetail(r.line)'>
				<div>{{r.he_so}}</div>
			</td>

			<td  style='cursor:pointer' ng-click='editDetail(r.line)'>
				<div>{{r.ten_kh}}</div>
				<div><i>{{r.ma_kh}}</i></div>
			</td>
			<td  style='cursor:pointer' ng-click='editDetail(r.line)'>
				<div>{{r.ten_bp}}</div>
				<div><i>{{r.ma_bp}}</i></div>
			</td>

			<td  style='cursor:pointer' ng-click='editDetail(r.line)'>
				<div>{{r.ten_hd}}</div>
				<div><i>{{r.ma_hd}}</i></div>
			</td>

			<td  style='cursor:pointer' ng-click='editDetail(r.line)'>
				<div>{{r.ten_dt}}</div>
				<div><i>{{r.ma_dt}}</i></div>
			</td>
			<td  style='cursor:pointer' ng-click='editDetail(r.line)'>
				<div>{{r.ten_phi}}</div>
				<div><i>{{r.ma_phi}}</i></div>
			</td>
		</tr>
	</table>
</div>
<div style='padding-bottom:13px;padding-left:10px;padding-top:10px'>
	<div class='btn-group'>
		<button type="button" class='btn btn-xs btn-primary'  ng-click="addDetail()">
			<i class="fa fa-plus-square-o" aria-hidden="true"></i> {{getLabel('dong_moi','Thêm dòng mới').text}}
		</button>

	</div>
</div>
