
 <form-detail><form-detail-body>
		<div class="form-group">
			<label class="control-label col-sm-3">{{getLabel('VAT_TU','Vật tư').text}} <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
			<div class="col-sm-9">
				<ng-typeahead
					module='dmvt' field-model='ten_vt' field-label='ma_vt' fields='ma_vt,ten_vt,ma_dvt'
					ng-model='dt_current.ten_vt'  label='dt_current.ma_vt' ng-required='true'
					on-select="dt_current.ma_dvt=$item.ma_dvt">
				</ng-typeahead>
			</div>

		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">{{getLabel('DVT','Đơn vị tính').text}} <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
			<div class="col-sm-3">
				<ng-typeahead
					module='dmdvt' field-model='ma_dvt' field-label='ten_dvt' fields='ma_dvt,ten_dvt' ng-disabled = 'true'
					ng-model='dt_current.ma_dvt' label='ten_dvt' ng-required='true'>
				</ng-typeahead>
			</div>
		</div>

    <div class="form-group">
      <label class="control-label col-sm-3">{{getLabel('ma_tt1_nvl','Thuộc tính NVL 1').text}}</label>
      <div class="col-sm-3">
        <input type="text" class="form-control " ng-model="dt_current.ma_tt1"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">{{getLabel('ma_tt2_nvl','Thuộc tính NVL 2').text}}</label>
      <div class="col-sm-3">
        <input type="text" class="form-control " ng-model="dt_current.ma_tt2"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3">{{getLabel('ma_tt3_nvl','Thuộc tính NVL 3').text}}</label>
      <div class="col-sm-3">
        <input type="text" class="form-control " ng-model="dt_current.ma_tt3"/>
      </div>
    </div>



    <div class="form-group">
      <label class="control-label col-sm-3">{{getLabel('loai_dinh_muc','Loại định mức').text}}</label>
      <div class="col-sm-3">
        <select class="form-control" ng-model="dt_current.loai_dinh_muc" ng-required="true" ng-options="v.m as v.t for v in [{m:1,t:'Định mức'},{m:2,t:'Cố định'}]">
        </select>
      </div>
    </div>

		<div class="form-group">
			<label class="control-label col-sm-3">{{getLabel('dinh_muc','Định mức').text}}</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" format="number" round="f_sl" ng-model="dt_current.sl_dinh_muc"/>
			</div>
		</div>

    <div class="form-group">
			<label class="control-label col-sm-3">{{getLabel('ty_le_hao_hut','Tỷ lệ hao hụt').text}}</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" format="number" round="f_sl" ng-model="dt_current.ty_le_hao_hut"/>
			</div>
		</div>


    <div class="form-group">
      <label class="control-label col-sm-3">{{getLabel('ma_tt1_sp','Áp dụng Thuộc tính sản phẩm 1').text}}</label>
      <div class="col-sm-3">
        <input type="text" class="form-control " ng-model="dt_current.ma_tt1_sp" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">{{getLabel('ma_tt2_sp','Áp dụng thuộc tính sản phẩm 2').text}}</label>
      <div class="col-sm-3">
        <input type="text" class="form-control " ng-model="dt_current.ma_tt2_sp" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">{{getLabel('ma_tt3_sp','Áp dụng thuộc tính sản phẩm 3').text}}</label>
      <div class="col-sm-3">
        <input type="text" class="form-control " ng-model="dt_current.ma_tt3_sp" />
      </div>
    </div>


		<div class="form-group">
      <label class="control-label col-sm-3">{{getLabel('ma_cum_chi_tiet_tp','Mã cụm chi tiết').text}}</label>
			<div class="col-sm-3">
				<input type="text" class="form-control"  ng-model="dt_current.ma_cum_chi_tiet"/>
			</div>
		</div>

    <div class="form-group">
      <label class="control-label col-sm-3">{{getLabel('ten_cum_chi_tiet_tp','Tên cụm chi tiết').text}}</label>
			<div class="col-sm-9">
				<input type="text" class="form-control"  ng-model="dt_current.ten_cum_chi_tiet"/>
			</div>
		</div>

    <div class="form-group">
			<label class="control-label col-sm-3">{{getLabel('cong_doan','Công đoạn').text}}</label>
			<div class="col-sm-9">
				<ng-typeahead
					module='congdoansx' field-model='ten_cong_doan' field-label='ma_cong_doan' fields='ma_cong_doan,ten_cong_doan'
					ng-model='dt_current.ten_cong_doan'  label='dt_current.ma_cong_doan'>
				</ng-typeahead>
			</div>

		</div>

</form-detail-body></form-detail>
