<voucher options="text:getLabel('TUY_CHON','Tùy chọn').text">
	<voucher-body>
		<div class="table-responsive" style="overflow: auto">
			<table class="table table-striped table-hover">
				<tr>
					<th class="text-center" style="width:30px" ng-show="multiSelect"><input type="checkbox" ng-model="selectionAll" ng-change="selectionAllChange(selectionAll)"/></th>
					<th style="width:30px"></th>
					<th>{{getLabel('ke_hoach','Kế hoạch').text}}</th>

					<th>{{getLabel('loai_ke_hoach','Loại kế hoạch').text}}</th>

					<th>{{getLabel('kh_tu_ngay','Kế hoạch từ ngày').text}}</th>
					<th>{{getLabel('kh_den_ngay','Kế hoạch đến ngày').text}}</th>
					<th>{{getLabel('sl_nhu_cau','Nhu cầu').text}}</th>
					<th>{{getLabel('sl_da_cap_phat','Đã cấp phát').text}}</th>
					<th>{{getLabel('sl_ke_hoach','Kế hoạch').text}}</th>
					<th>{{getLabel('sl_contract','Đơn hàng/hợp đồng').text}}</th>
					<th>{{getLabel('sl_da_nhap','Đã nhập').text}}</th>

				</tr>
				<tr ng-repeat="r in list|limitTo:limitOpts.limit:limitOpts.begin" drag-to-dismiss="delete(r._id,dismissCB)">
					<td width='30px' class="text-center" ng-show="multiSelect">
						<input type="checkbox" ng-model="r.sel"/>
					</td>
					<td class="text-center" style="width:30px">
						<div ng-include="'templates/sys/quick-actions.html'"></div>
					</td>

					<td>
						<div style='cursor:pointer' ng-click='edit(r._id)'>
							<span ng-if='r.ten_trang_thai' class="label bg-{{r.color}}">[{{ r.ten_trang_thai}}]</span>
							<span>Số kế hoạch: {{ r.so_ct }}</span>
							<span>, ngày lập: {{ r.ngay_ct|date:'dd/MM/yyyy'}}</span>
						</div>
						<div class="form-group" ng-show="r.trang_thai ==='3' && r.t_sl_dnm<r.t_sl_ke_hoach">
							<button type="button" class="btn btn-primary btn-xs" ng-click="createDnm(r)">Đề nghị mua</button>
							<button type="button" class="btn btn-primary btn-xs" ng-click="createContract(r)">Tạo đơn hàng/hợp đồng</button>
						</div>
					</td>

					<td style='cursor:pointer' ng-click='edit(r._id)'>
						{{ r.loai_ke_hoach}}
					</td>
					<td style='cursor:pointer' ng-click='edit(r._id)'>
						{{ r.kh_tu_ngay|date:"dd/MM/yyyy" }}
					</td>
					<td style='cursor:pointer' ng-click='edit(r._id)'>
						{{ r.kh_den_ngay|date:"dd/MM/yyyy" }}
					</td>

					<td style='cursor:pointer' ng-click='edit(r._id)'>
						{{ r.t_sl_nhu_cau|number:f_sl}}
					</td>
					<td style='cursor:pointer' ng-click='edit(r._id)'>
						{{ r.t_sl_da_cap_phat|number:f_sl}}
					</td>
					<td style='cursor:pointer' ng-click='edit(r._id)'>
						{{ r.t_sl_ke_hoach|number:f_sl}}
					</td>
					<td style='cursor:pointer' ng-click='edit(r._id)'>
						{{ r.t_sl_contract|number:f_sl}}
					</td>
					<td style='cursor:pointer' ng-click='edit(r._id)'>
						{{ r.t_sl_da_nhap|number:f_sl}}
					</td>
				</tr>
			</table>
			<ng-page></ng-page>
		</div>
	</voucher-body>
</voucher>
