<div class="modal-header">
	<header-dialog-select title="Nhóm khách hàng"></header-dialog-select>
 </div>
 <div class="modal-body">
	<div class="table-list">
		<table  class ="table table-striped">
			<tr ng-repeat ="item in items" style ='cursor:pointer'>
				<td ng-style="{'background-color':'{{item.color}}'}"  ng-click="select(item)">
					<div>{{item.group_name}}</div>
					<small ng-if="item.exfields.default_value">{{item.exfields.default_value|number:2}}</small>
				</td>
				<td ng-style="{'width':'50px','background-color':'{{item.color}}'}" class='text-right'>
					<a href='javascript:;' ng-click="quickedit(item)" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
					<a href='javascript:;' ng-click="delete(item)" ><i class="fa fa-trash-o" aria-hidden="true"></i></a>
				</td>
				
			</tr>
		</table>
	</div>
 </div>