<div class="scrollable"> <div class="scrollable-header"><stplistheader></stplistheader></div>
<div class="row scrollable-content"> <div class="table-responsive">
	<table class ="table table-striped table-bordered">
		<tr ng-repeat="r in list|limitTo:limitOpts.limit:limitOpts.begin" drag-to-dismiss="delete(r._id,dismissCB)" >
			<td width='30px' class="text-center" ng-show="multiSelect"> <input type="checkbox" ng-model="r.sel"/> </td><td class="text-center" style="width:30px"><div  ng-include="'templates/sys/quick-actions-list.html'"></div></td>
			<td    style='cursor:pointer' ng-click='view(r._id)'>
					<p parse-html='r.content'></p>
				
			</td>
			
		</tr>
	</table>
	<ng-page></ng-page>
</div>

</div></div>