
 <form-detail><form-detail-body>
		<div class="form-group">
			<label class="control-label col-sm-2">{{getLabel('VAT_TU','Vật tư').text}} <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
			<div class="col-sm-10">
				<ng-typeahead 
					module='dmvt' field-model='ten_vt' field-label='ma_vt' fields='ma_vt,ten_vt,ma_dvt,tk_vt,thue_suat_nk'
					ng-model='dt_current.ten_vt'  label='dt_current.ma_vt' ng-required='true'
					on-select="dt_current.ma_dvt=$item.ma_dvt;dt_current.tk_vt = $item.tk_vt;dt_current.thue_suat_nk = $item.thue_suat_nk">
				</ng-typeahead>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">{{getLabel('DVT','Đơn vị tính').text}} <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
			<div class="col-sm-4">
				<ng-typeahead 
					module='dmdvt' field-model='ma_dvt' field-label='ten_dvt' fields='ma_dvt,ten_dvt' ng-disabled='true'
					ng-model='dt_current.ma_dvt' label='ten_dvt' ng-required='true'>
				</ng-typeahead>
			</div>
		</div>
		
		<uib-tabset>
			<uib-tab heading="{{getLabel('gia_ncc_bao','Giá NCC báo').text}}">
				<div class="form-group">
					<label class="control-label col-sm-2">{{getLabel('SO_LUONG_NHAP','Số lượng').text}} <span class='required'>(*)</span></label>
					<div class="col-sm-4">
						<input type="text" class="form-control" format="number" round="f_sl" ng-model="dt_current.so_luong" ng-required="true"/>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2">{{getLabel('gia','Giá').text}} {{data.ma_nt}} </label>
					<div class="col-sm-4">
						<input type="text" class="form-control" format="number" round="f_gia_nt" ng-model="dt_current.gia_nt"
						
						ng-blur="dt_current.gia_von_nk_nt=(dt_current.thue_suat_nk?dt_current.gia_nt:0)"/>
					</div>
						
					<label class="control-label col-sm-2"  ng-show="data.ma_nt!='VND'">{{getLabel('gia','Giá').text}} VND</label>
					<div class="col-sm-4"  ng-show="data.ma_nt!='VND'">
						<label class="form-control ">
							{{dt_current.gia = STP.round(dt_current.gia_nt * data.ty_gia,0)|number:0}}
						</label>
					</div>
					
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2">{{getLabel('gia_mua_truoc','Giá cũ').text}} {{data.ma_nt}} </label>
					<div class="col-sm-4">
						<input type="text" class="form-control" format="number" round="f_gia_nt" ng-model="dt_current.gia_truoc_nt"
						
						/>
					</div>
						
					<label class="control-label col-sm-2"  ng-show="data.ma_nt!='VND'">{{getLabel('gia_mua_truoc','Giá cũ').text}} VND</label>
					<div class="col-sm-4"  ng-show="data.ma_nt!='VND'">
						<label class="form-control ">
							{{dt_current.gia_truoc = STP.round(dt_current.gia_truoc_nt * data.ty_gia,0)|number:0}}
						</label>
					</div>
					
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2">{{getLabel('THANH_TIEN','Thành tiền').text}} {{data.ma_nt}}</label>
					<div class="col-sm-4">
						<!--<input type="text" class="form-control" format="number" ng-model="dt_current.tien_nt"  ng-required="true"/>-->
						<label class="form-control ">
							{{dt_current.tien_nt = STP.round(dt_current.gia_nt * dt_current.so_luong,round)|number:round}}
						</label>
					</div>
						
					<label class="control-label col-sm-2"  ng-show="data.ma_nt!='VND'">{{getLabel('THANH_TIEN','Thành tiền').text}} VND</label>
					<div class="col-sm-4"  ng-show="data.ma_nt!='VND'">
						<!--<input type="text" class="form-control " format="number" ng-model="dt_current.tien"  ng-required="true"/>-->
						<label class="form-control ">
							{{dt_current.tien = STP.round(dt_current.tien_nt * data.ty_gia,0)|number:0}}
						</label>
					</div>
					
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2">{{getLabel('TY_LE_CK','Tỷ lệ CK').text}}</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" format="number" ng-model="dt_current.ty_le_ck"  ng-required="true"/>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2">{{getLabel('TIEN_CK','Tiền CK').text}} {{data.ma_nt}}</label>
					<div class="col-sm-4">
						<!--<input type="text" class="form-control" format="number" ng-model="dt_current.tien_ck_nt"/>-->
						<label class="form-control ">
							{{dt_current.tien_ck_nt = STP.round(dt_current.ty_le_ck * dt_current.tien_nt/100,round)|number:round}}
						</label>
					</div>
						
					<label class="control-label col-sm-2"  ng-show="data.ma_nt!='VND'">{{getLabel('TIEN_CK','Tiền CK').text}} VND</label>
					<div class="col-sm-4"  ng-show="data.ma_nt!='VND'">
						<!--<input type="text" class="form-control " format="number" ng-model="dt_current.tien_ck"/>-->
						<label class="form-control ">
							{{dt_current.tien_ck = STP.round(dt_current.tien_ck_nt * data.ty_gia,0)|number:0}}
						</label>
					</div>
					
				</div>
				<!--nhap khau-->
				<div class="form-group">
					<label class="control-label col-sm-2">{{getLabel('THUE_SUAT_NK','Thuế suất NK').text}}</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" format="number" ng-model="dt_current.thue_suat_nk"
						ng-blur="dt_current.gia_von_nk_nt=(dt_current.thue_suat_nk && !dt_current.gia_von_nk_nt?dt_current.gia_nt:dt_current.gia_von_nk_nt)"
						/>
						
					</div>
					
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2">{{getLabel('GIA_TINH_THUE_NK','Giá tính thuế NK').text}} {{data.ma_nt}}</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" format="number" round="f_gia_nt" ng-model="dt_current.gia_von_nk_nt"/>
						
					</div>
						
					<label class="control-label col-sm-2"  ng-show="data.ma_nt!='VND'">{{getLabel('GIA_TINH_THUE_NK','Giá tính thuế NK').text}} VND </label>
					<div class="col-sm-4"  ng-show="data.ma_nt!='VND'">
						<!--<input type="text" class="form-control " format="number" ng-model="dt_current.gia_von_nk"  ng-required="true"/>-->
						<label class="form-control ">
							{{dt_current.gia_von_nk = STP.round(dt_current.gia_von_nk_nt * data.ty_gia,0)|number:0}}
						</label>
					</div>
					
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2">{{getLabel('TIEN_TINH_THUE_NK','Tiền tính thuế NK').text}} {{data.ma_nt}}</label>
					<div class="col-sm-4">
						<!--<input type="text" class="form-control" format="number" ng-model="dt_current.tien_hang_nk_nt"  ng-required="true"/>-->
						<label class="form-control ">
							{{dt_current.tien_hang_nk_nt = STP.round(dt_current.gia_von_nk_nt * dt_current.so_luong,round)|number:round}}
						</label>
					</div>
						
					<label class="control-label col-sm-2"  ng-show="data.ma_nt!='VND'">{{getLabel('TIEN_TINH_THUE_NK','Tiền tính thuế NK').text}} VND</label>
					<div class="col-sm-4"  ng-show="data.ma_nt!='VND'">
						<!--<input type="text" class="form-control " format="number" ng-model="dt_current.tien_hang_nk"  ng-required="true"/>-->
						<label class="form-control ">
							{{dt_current.tien_hang_nk = STP.round(dt_current.tien_hang_nk_nt * data.ty_gia,0)|number:0}}
						</label>
					</div>
					
				</div>
				
				
				
				<div class="form-group">
					<label class="control-label col-sm-2">{{getLabel('TIEN_THUE_NK','Tiền thuế NK').text}} {{data.ma_nt}}</label>
					<div class="col-sm-4">
						<!--<input type="text" class="form-control" format="number" ng-model="dt_current.tien_thue_nk_nt"/>-->
						<label class="form-control ">
							{{dt_current.tien_thue_nk_nt = STP.round(dt_current.tien_hang_nk_nt * dt_current.thue_suat_nk/100,round)|number:round}}
						</label>
					</div>
						
					<label class="control-label col-sm-2"  ng-show="data.ma_nt!='VND'">{{getLabel('TIEN_THUE_NK','Tiền thuế NK').text}} VND</label>
					<div class="col-sm-4"  ng-show="data.ma_nt!='VND'">
						<!--<input type="text" class="form-control " format="number" ng-model="dt_current.tien_thue_nk"/>-->
						<label class="form-control ">
							{{dt_current.tien_thue_nk = STP.round(dt_current.tien_thue_nk_nt * data.ty_gia,0)|number:0}}
						</label>
					</div>
					
				</div>
				<!--ket thuc nhap khau-->
				<div class="form-group">
					<label class="control-label col-sm-2">{{getLabel('TONG_TIEN','Tổng cộng').text}} {{data.ma_nt}}</label>
					<div class="col-sm-4">
						<!--<input type="text" class="form-control" ng-readonly ='true' format="number" ng-model="dt_current.tt_nt"/>-->
						<label class="form-control ">
						{{dt_current.tt_nt = dt_current.tien_nt + dt_current.tien_thue_nk_nt - dt_current.tien_ck_nt|number:round}}
						</label>
					</div>
						
					<label class="control-label col-sm-2"  ng-show="data.ma_nt!='VND'">{{getLabel('TONG_TIEN','Tổng cộng').text}} VND</label>
					<div class="col-sm-4"  ng-show="data.ma_nt!='VND'">
						<!--<input type="text" class="form-control "  ng-readonly ='true' format="number" ng-model="dt_current.tt"/>-->
						<label class="form-control ">
							{{dt_current.tt = STP.round(dt_current.tt_nt * data.ty_gia,0)|number:0}}
						</label>
					</div>
				</div>
			</uib-tab>
			<uib-tab heading="{{getLabel('gia_ban_dn','Giá bán đề nghị').text}}">
				<div class="form-group">
					<label class="control-label col-sm-2">{{getLabel('gia_ban_mt','Giá bán mục tiêu').text}} {{data.ma_nt}} </label>
					<div class="col-sm-4">
						<input type="text" class="form-control" format="number" round="f_gia_nt"  ng-model="dt_current.gia_ban_muc_tieu_nt"
						
						/>
					</div>
						
					<label class="control-label col-sm-2"  ng-show="data.ma_nt!='VND'">{{getLabel('gia_ban_mt','Giá bán mục tiêu').text}} VND</label>
					<div class="col-sm-4"  ng-show="data.ma_nt!='VND'">
						<label class="form-control ">
							{{dt_current.gia_ban_muc_tieu = STP.round(dt_current.gia_ban_muc_tieu_nt * data.ty_gia,0)|number:0}}
						</label>
					</div>
					
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2">{{getLabel('gia_ban_de_nghi','Giá bán đề nghị').text}} {{data.ma_nt}} </label>
					<div class="col-sm-4">
						<input type="text" class="form-control" format="number" round="f_gia_nt"  ng-model="dt_current.gia_ban_de_nghi_nt"
						
						/>
					</div>
						
					<label class="control-label col-sm-2"  ng-show="data.ma_nt!='VND'">{{getLabel('gia_ban_de_nghi','Giá bán đề nghị').text}} VND</label>
					<div class="col-sm-4"  ng-show="data.ma_nt!='VND'">
						<label class="form-control ">
							{{dt_current.gia_ban_de_nghi = STP.round(dt_current.gia_ban_de_nghi_nt * data.ty_gia,0)|number:0}}
						</label>
					</div>
					
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">{{getLabel('gia_ban_truoc','Giá bán cũ').text}} {{data.ma_nt}} </label>
					<div class="col-sm-4">
						<input type="text" class="form-control" format="number" round="f_gia_nt"  ng-model="dt_current.gia_ban_truoc_nt"
						
						/>
					</div>
						
					<label class="control-label col-sm-2"  ng-show="data.ma_nt!='VND'">{{getLabel('gia_ban_truoc','Giá bán cũ').text}} VND</label>
					<div class="col-sm-4"  ng-show="data.ma_nt!='VND'">
						<label class="form-control ">
							{{dt_current.gia_ban_truoc = STP.round(dt_current.gia_ban_truoc_nt * data.ty_gia,0)|number:0}}
						</label>
					</div>
					
				</div>
			</uib-tab>
			<uib-tab heading="{{getLabel('thuoc_tinh_sp','Thuộc tính SP').text}}">
				<div>
					<div class="form-group">
						<label class="control-label col-sm-2">{{getLabel('ma_tt1','Thuộc tính 1').text}}</label>
						<div class="col-sm-4">
							<input type="text" class="form-control " ng-model="dt_current.ma_tt1"/>
						</div>
						
						<label class="control-label col-sm-2">{{getLabel('ma_tt2','Thuộc tính 2').text}}</label>
						<div class="col-sm-4">
							<input type="text" class="form-control " ng-model="dt_current.ma_tt2"/>
						</div>
					</div>
					<div class="form-group">
						
						<label class="control-label col-sm-2">{{getLabel('ma_tt3','Thuộc tính 3').text}}</label>
						<div class="col-sm-4">
							<input type="text" class="form-control " ng-model="dt_current.ma_tt3"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">{{getLabel('quy_cach','Quy cách, chất liệu...').text}}</label>
					<div class="col-sm-10">
						<input type='text' class="form-control" ng-model="dt_current.dien_giai"   placeholder="{{getLabel('quy_cach','Quy cách, chất liệu...').text}}"/>
					</div>
				</div>
			</uib-tab>
		</uib-tabset>
		
		
		
</form-detail-body></form-detail>
