<div class="table-responsive detail-table">
	<table class="table table-form">

		<tr>
			<th>{{getLabel('SO_LUONG_NHAP','Số lượng').text}}</th>
			<th>{{getLabel('gia','Giá').text}}</th>
			<th>{{getLabel('tien','Thành tiền').text}}</th>
			<th>{{getLabel('TIEN_CK','Tiền CK').text}}</th>
			<th>{{getLabel('TIEN_THUE_NK','Thuế NK').text}}</th>

			<th>{{getLabel('TONG_TIEN','Tổng cộng').text}}</th>
			<th>
				{{getLabel('quy_cach','Quy cách, chất liệu...').text}}
			</th>
		</tr>
		<tbody ng-repeat="r in ngMasterData.details">
			<tr>

				<td colspan='17'>
					<div style='padding-right:10px;font-size: 18px;' title="Xóa dòng này" class="pull-left close" ng-click="delete1Row(r)">

						&times;
					</div>
					<div style='cursor:pointer' ng-click='editDetail(r.line)'>
						<b>{{r.ten_vt}}</b>
						({{r.ma_dvt}})
						<span ng-if='r.ma_tt1'>,
							{{getLabel('TT1','TT1').text}}:
							{{r.ma_tt1}}</span>
						<span ng-if='r.ma_tt2'>,
							{{getLabel('TT2','TT2').text}}:
							{{r.ma_tt2}}</span>
						<span ng-if='r.ma_tt3'>,
							{{getLabel('TT3','TT3').text}}:
							{{r.ma_tt3}}</span>
					</div>
				</td>
			</tr>

			<tr>
				<td style="">
					<input type='text' style='min-width:80px' format='number' round="f_sl" class='form-control' ng-model='r.so_luong' ng-change='onChange({$item:r})'>
				</td>

				<td style="">

					<input type='text' style='min-width:80px' format='number' round="f_gia_nt" class='form-control' ng-model='r.gia_nt' ng-change='onChange({$item:r})'>
				</td>

				<td style="">
					<div class='form-control' ng-readonly='true' style='cursor:pointer' ng-click='editDetail(r.line)'>{{r.tien_nt|number:f_tien}}</div>
				</td>

				<td style="">
					<div class='form-control' ng-readonly='true' style='cursor:pointer' ng-click='editDetail(r.line)'>{{r.tien_ck_nt|number:f_tien}}</div>
				</td>

				<td style="">
					<div class='form-control' ng-readonly='true' style='cursor:pointer' ng-click='editDetail(r.line)'>{{r.tien_thue_nk_nt|number:f_tien}}</div>
				</td>

				<td style="">
					<div class='form-control' ng-readonly='true' style='cursor:pointer' ng-click='editDetail(r.line)'>{{r.tt_nt|number:f_tien}}</div>
				</td>

				<td style="min-width:100px">
					<input type='text' class="form-control" ng-model="r.dien_giai" placeholder="{{getLabel('quy_cach','Quy cách, chất liệu...').text}}"/>
				</td>

			</tr>

			<tr ng-click='editDetail(r.line)'>
				<td style="cursor:pointer" colspan="17">
					<span ng-repeat="(key,value) in r.exfields_detail" ng-show="key.indexOf('tien_phi')<0">
						{{getLabel(key,key).text + ': ' +  value}},
					</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div style='padding-bottom:13px;padding-left:10px;padding-top:10px'>
	<div class='btn-group'>
		<button type="button" class='btn btn-xs btn-primary'  ng-click="addDetail()">
			<i class="fa fa-plus-square-o" aria-hidden="true"></i> {{getLabel('dong_moi','Thêm dòng mới').text}}
		</button>

	</div>
</div>
