<div class='container-fluid scrollable'>
	<div class="scrollable-header"><list-view-header header-title='ten_co_hoi'>
		<li role="presentation" class="divider"></li>
		<li role="presentation" class="divider"></li>
		<li>
			<a class='dropdown-header'  ng-click="addContact()">Thêm liên hệ</a>
		</li>
		<li>
			<a class='dropdown-header'  ng-click="addCustomer()">Thêm khách hàng</a>
		</li>

	</list-view-header></div>
	<div class="scrollable-content">
		<div class="col-sm-12">
			<div class="page-frame tab-custom">
	<uib-tabset>
		<uib-tab heading='Chi tiết'>
			<div class='form-horizontal'>
			<fieldset>
				<legend>Thông tin chi tiết</legend>
				<div class='form-group'>
					<label class='col-sm-2 control-label'>Tên cơ hội:</label>
					<div class='col-sm-10 field-label' style="padding-left:10px!important">
                        <a editable-text="data.ten_co_hoi" onaftersave="update(data)">{{data.ten_co_hoi}} <i class="fa fa-pencil-square-o"></i></a>
                    </div>
				</div>
				<div class='form-group'>
					<label class='col-sm-2 control-label'>Phụ trách:</label>
					<div class='col-sm-10 field-label' style="padding-left:10px!important">
                        <a ng-click="openProfile(data.phu_trach)">{{data.phu_trach}}</a>
                        <a editable-select="data.phu_trach"  e-ng-options ="r.email as r.name for r in members"  onaftersave="update(data)">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                    </div>
				</div>

                <div class='form-group'>
					<label class='col-sm-2 control-label'>Giá trị ước tính:</label>
					<div class='col-sm-2 field-label' style="padding-left:10px!important">
                        <a editable-number="data.tien_nt" onaftersave="update(data)">{{data.tien_nt|number:0}} <i class="fa fa-pencil-square-o"></i></a>  <a editable-select="data.tinh_tren"  e-ng-options ="r.id as r.name for r in tinh_trens"  onaftersave="update(data)">
                            {{data.ten_tinh_tren}} <i class="fa fa-pencil-square-o"></i>
                        </a>
                    </div>

				</div>
                <div class='form-group'>
					<label class='col-sm-2 control-label'>Khả năng thành công(%):</label>
					<div class='col-sm-2 field-label' style="padding-left:10px!important">
                        <a editable-number="data.kha_nang_thanh_cong" onaftersave="update(data)">{{data.kha_nang_thanh_cong|number:0}} <i class="fa fa-pencil-square-o"></i></a>
                    </div>
				</div>


				<div class='form-group' ng-show="data.ten_kh">
					<label class='col-sm-2 control-label'>Khách hàng:</label>
					<div class='col-sm-10 field-label' style="padding-left:10px!important">
                        <a href="#!/dmkh/view/{{data.id_kh}}?redirect={{location}}">{{data.ten_kh}}</a>
                    </div>
				</div>
				<div class='form-group'>
					<label class='col-sm-2 control-label'>Ngày dự tính kết thúc:</label>
					<div class='col-sm-4 field-label' style="padding-left:10px!important">
                        <a editable-date="data.ngay_het_han" onaftersave="update(data)">{{data.ngay_het_han|date:'dd/MM/yyyy'}} <i class="fa fa-pencil-square-o"></i></a>
                    </div>

				</div>

				<div class='form-group'>
					<label class='col-sm-2 control-label'>Trạng thái:</label>
					<div class='col-sm-4 field-label' style="padding-left:10px!important">
						<div class="dropdown"   ng-click="toggleDropdown('dtProgress')">
						  <span ng-show='data.status_opp==0'  id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" class='btn btn-xs btn-info dropdown-toggle'>Đang theo dõi</span>
						  <span ng-show='data.status_opp==1'  id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" class='btn btn-xs btn-primary dropdown-toggle'>Thành công</span>
						  <span ng-show='data.status_opp==2'  id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" class='btn btn-xs btn-success dropdown-toggle'>Thất bại</span>
						  <span ng-show='data.status_opp==3'  id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" class='btn btn-xs btn-danger dropdown-toggle'>Tạm dừng</span>
						  <span ng-show='data.status_opp==4'  id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" class='btn btn-xs btn-warning dropdown-toggle'>Quên</span>


						  <ul class="dropdown-menu" role="menu"    ui-show="dtProgress"
					ui-state="dtProgress">
							<li role="presentation" ng-show='data.status_opp!=2'><a role="menuitem" tabindex="-1" ng-click="update({status_opp:2})">Thất bại</a></li>
							<li role="presentation" ng-show='data.status_opp!=1'><a role="menuitem" tabindex="-1" ng-click="update({status_opp:1})">Thành công</a></li>
							<li role="presentation" ng-show='data.status_opp!=3'><a role="menuitem" tabindex="-1" ng-click="update({status_opp:3})">Tạm dừng</a></li>
							<li role="presentation" ng-show='data.status_opp!=4'><a role="menuitem" tabindex="-1" ng-click="update({status_opp:4})">Quên</a></li>
							<li role="presentation" ng-show='data.status_opp!=0'><a role="menuitem" tabindex="-1" ng-click="update({status_opp:0})">Đang theo dõi</a></li>
						  </ul>
						</div>
					</div>
                    <label class='col-sm-2 control-label'>Lý do:</label>
					<div class='col-sm-4 field-label' style="padding-left:10px!important">
                        <a editable-text="data.status_reason" onaftersave="update(data)">{{data.status_reason}} <i class="fa fa-pencil-square-o"></i></a>
                    </div>
				</div>

				<div class='form-group'>
					<label class='col-sm-2 control-label'>Miêu tả:</label>
					<div class='col-sm-10 field-label' style="padding-left:10px!important">
                        <span parse-html="data.mieu_ta"></span>
                    </div>
				</div>
				<div class='form-group' ng-show="data.date_created">
					<label class='col-sm-2 control-label'>Ngày tạo:</label>
					<div class='col-sm-10 field-label' style="padding-left:10px!important">{{data.date_created|date:'dd/MM/yyyy HH:mm:ss'}}</div>
				</div>
                <div class='form-group' ng-show="data.date_updated">
					<label class='col-sm-2 control-label'>Ngày cập nhật:</label>
					<div class='col-sm-10 field-label' style="padding-left:10px!important">{{data.date_updated|date:'dd/MM/yyyy HH:mm:ss'}}</div>
				</div>
			</fieldset>

			<fieldset>
				<legend>Liên kết</legend>
				<div>
					<stp-link link="data" collection='opportunity' collections-link="lienhe:'ten_lien_he,dien_thoai,email',dmkh:'ten_kh,dia_chi,dien_thoai,email'"></stp-link>
				</div>
			</fieldset>
			</div>
			<br/>
			<file link='data'></file>
			<br/>
			<comment link='data' user='user' title="{{data.ten_co_hoi}}"></comment>


		</uib-tab>
		<uib-tab heading="Ghi chú">
			<note link='data'></note>
		</uib-tab>

		<uib-tab heading="Lịch sử">
			<history link='data' module='opportunity'></history>
		</uib-tab>
	</uib-tabset>
</div></div></div>
</div>
