<div class="table-responsive detail-table">
	<table class="table table-condensed table-form">
		<tr>

			<th>{{getLabel('SO_LUONG_XUAT','SL xuất').text}}</th>
			<th>{{getLabel('GIA_BAN','Giá bán').text}}</th>

			<th>{{getLabel('TIEN_HANG','Tiền hàng').text}}</th>

			<th>{{getLabel('ty_le_ck','% CK').text}}</th>

			<th>{{getLabel('TIEN_CK','Tiền CK').text}}</th>

			<th>{{getLabel('THANH_TIEN','Thành tiền').text}}</th>

		</tr>

		<tbody ng-repeat="r in ngMasterData.details">
			<tr>
				<td colspan='17' style='border-bottom:1px solid white!important'>
					<div style='padding-right:10px;font-size: 18px;' title="Xóa dòng này" class="pull-left close" ng-click="delete1Row(r)">

						&times;
					</div>
					<div>
						<b>{{r.ten_vt}}
							-
							{{r.ma_vt}}
						</b>({{r.ma_dvt}})
						<span ng-if='r.ma_lo'>,
							{{getLabel('LO','Lô').text}}:
							{{r.ma_lo}}</span>
						<span ng-if='r.han_sd'>,
							{{getLabel('hsd','HSD').text}}:
							{{r.han_sd|date:'dd/MM/yy'}}</span>
						<span ng-if='r.ma_tt1'>,
							{{getLabel('TT1','TT1').text}}:
							{{r.ma_tt1}}</span>
						<span ng-if='r.ma_tt2'>,
							{{getLabel('TT2','TT2').text}}:
							{{r.ma_tt2}}</span>
						<span ng-if='r.ma_tt3'>,
							{{getLabel('TT3','TT3').text}}:
							{{r.ma_tt3}}</span>
						<span>,
							{{getLabel('ton_kho','Tồn kho').text}}:
							{{r.ton_kho}}</span>
						<!--<span ng-if='r.ty_le_ck'>,
							{{getLabel('ty_le_ck','CK').text}}:
							{{r.ty_le_ck}}%</span>-->
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<input type='text' style='min-width:30px' format='number' round="f_sl" ng-model='r.sl_xuat' class='form-control' ng-change='onChange({$item:r})'/>
				</td>

				<td>
					<span class='form-control' ng-readonly='true'>{{r.gia_ban_nt|number:0}}</span>
				</td>

				<td>
					<span class='form-control' ng-readonly='true'>{{r.tien_hang_nt|number:0}}</span>
				</td>

				<td>
					<input type='text' format='number' round="f_sl" ng-model='r.ty_le_ck' class='form-control' ng-change='r.tien_ck_nt=STP.round(r.tien_hang_nt*r.ty_le_ck/100,f_tien_nt)'/>
				</td>

				<td>
					<input type='text' format='number' round="f_tien_nt" ng-model='r.tien_ck_nt' class='form-control'/>
					<span ng-show="false">{{r.tien_ck = STP.round(r.tien_ck_nt*ngMasterData.ty_gia,f_tien)}}</span>
				</td>

				<td>
					<span class='form-control' ng-readonly='true'>{{r.tien_nt = r.tien_hang_nt-r.tien_ck_nt|number:f_tien_nt}}</span>
					<span ng-show="false">{{r.tien = STP.round(r.tien_nt*ngMasterData.ty_gia,f_tien)}}</span>
				</td>

			</tr>
			<tr ng-click='editDetail(r.line)'>
				<td style="cursor:pointer" colspan="17">
					<span ng-repeat="(key,value) in r.exfields_detail" ng-show="key.indexOf('tien_phi')<0">
						{{getLabel(key,key).text + ': ' +  value}},
					</span>
				</td>
			</tr>
		</tbody>
	</table>
	<!--<div style='padding-bottom:2px;padding-top:2px'> <div class='btn-group'> <a class='btn btn-sm btn-primary' ng-click="addDetail()">{{getLabel('MOI','Mới').text}}</a> </div> </div>-->

</div>
