<div class="scrollable-header"><stplistheader btnadd="show:false" btn1="text:'Thêm file',click:function(){addFile()}"></stplistheader></div>
<div class="row scrollable-content"> <div class="table-list">
	<table class ="table">
		<tr class="disable-small-screen"><th class="text-center"  style="width:30px" ng-show="multiSelect"><input type="checkbox" ng-model="selectionAll"></th><th style="width:30px"></th><th style='text-align:left'>Files</th></tr>
		<tr ng-repeat="r in list|limitTo:limitOpts.limit:limitOpts.begin" drag-to-dismiss="delete(r._id,dismissCB)" >
			<td width='30px' class="text-center" ng-show="multiSelect"> <input type="checkbox" ng-model="r.sel"/> </td><td class="text-center" style="width:30px"><div  ng-include="'templates/sys/quick-actions-list.html'"></div></td>
			<td>
				<div ng-show="r.file.extension!='png' && r.file.extension!='jpg' && r.file.extension!='doc' && r.file.extension!='docx' && r.file.extension!='xls' && r.file.extension!='xlsx' && r.file.extension!='pdf'">
					<i class="fa fa-file-o"></i>
					<a href='{{server_url}}/api/{{id_app}}/file/download/{{r._id}}?access_token={{token}}' target="_blank">
						 {{ r.file.originalname }}
					</a>
				</div>
				<div ng-show="r.file.extension=='doc' || r.file.extension=='docx'" target="_blank">
					<i class="fa fa-file-word-o"></i>
					<a href='{{server_url}}/api/{{id_app}}/file/download/{{r._id}}?access_token={{token}}' target="_blank">
						 {{ r.file.originalname }}
					</a>
				</div>
				<div ng-show="r.file.extension=='pdf'" target="_blank">
					<i class="fa fa-file-pdf-o"></i>
					<a href='{{server_url}}/api/{{id_app}}/file/download/{{r._id}}?access_token={{token}}' target="_blank">
						 {{ r.file.originalname }}
					</a>
				</div>
				<div ng-show="r.file.extension=='xlsx' || r.file.extension=='xls'">
					<i class="fa fa-file-excel-o"></i>
					<a href='{{server_url}}/api/{{id_app}}/file/download/{{r._id}}?access_token={{token}}' target="_blank">
						 {{ r.file.originalname }}
					</a>
				</div>
				<div ng-show="r.file.extension=='png' || r.file.extension=='jpg'">
					<i class="fa fa-file-photo-o"></i>
					<a href='{{server_url}}/api/{{id_app}}/file/download/{{r._id}}?access_token={{token}}' target="_blank">
						 {{ r.file.originalname }}
					</a>
				</div>
				
			</td>
		</tr>
	</table>
	<ng-page></ng-page>
</div>

</div></div>