
 <form-detail><form-detail-body>
		<div class="form-group">
			<label class="control-label col-sm-2">{{getLabel('TK_NO','TK nợ').text}}</label>
			<div class="col-sm-4">
				<ng-typeahead
					module='dmtk' field-model='tk' field-label='ten_tk' fields='tk,ten_tk'
					placeholder="Nhập tk hoặc tên tk..."
					ng-model='dt_current.tk_no' condition="loai_tk:1" label='dt_current.ten_tk_no' ng-required='true'>
				</ng-typeahead>
			</div>
			<div class=' col-sm-6'>{{dt_current.ten_tk_no}}</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">{{getLabel('TK_CO','TK có').text}} </label>
			<div class="col-sm-4">
				<ng-typeahead
					module='dmtk' field-model='tk' field-label='ten_tk' fields='tk,ten_tk'
					placeholder="Nhập tk hoặc tên tk..."
					ng-model='dt_current.tk_co' condition="loai_tk:1" label='dt_current.ten_tk_co' ng-required='true'>
				</ng-typeahead>
			</div>
			<div class='col-sm-6'>{{dt_current.ten_tk_co}}</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">{{getLabel('TIEN','Tiền').text}} {{data.ma_nt}}</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" format="number" round="f_tien_nt" ng-model="dt_current.tien_nt"  ng-required="true"/>
			</div>

			<label class="control-label col-sm-2"  ng-show="data.ma_nt!='VND'">{{getLabel('TIEN_QUY_DOI','Tiền quy đổi').text}}</label>
			<div class="col-sm-4"  ng-show="data.ma_nt!='VND'">
				<input type="text" class="form-control " format="number" round="f_tien" ng-model="dt_current.tien"  ng-required="true"/>
			</div>

		</div>


		<div class="form-group">
			<label class="control-label col-sm-2">{{getLabel('KH_NO','Khách hàng nợ').text}} </label>
			<div class="col-sm-4">
				<ng-typeahead
					module='dmkh' field-model='ten_kh' field-label='ma_kh' fields ='ma_kh,ten_kh'
					ng-model='dt_current.ten_kh_no' label='dt_current.ma_kh_no' ng-required-cn='dt_current.tk_no'>
				</ng-typeahead>
			</div>
			<label class="control-label col-sm-2">{{getLabel('KH_CO','Khách hàng có').text}} </label>
			<div class="col-sm-4">
				<ng-typeahead
					module='dmkh' field-model='ten_kh' field-label='ma_kh' fields ='ma_kh,ten_kh'
					ng-model='dt_current.ten_kh_co' label='dt_current.ma_kh_co' ng-required-cn='dt_current.tk_co'>
				</ng-typeahead>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">{{getLabel('VU_VIEC','Vụ việc').text}}</label>
			<div class="col-sm-4">
				<ng-typeahead
					module='dmdt' field-model='ten_dt' field-label='ma_dt' fields ='ma_dt,ten_dt'
					ng-model='dt_current.ten_dt' label='dt_current.ma_dt'>
				</ng-typeahead>
			</div>
			<label class="control-label col-sm-2">{{getLabel('HOP_DONG','Hợp đồng').text}}</label>
			<div class="col-sm-4">
				<ng-typeahead
					module='contract' field-model='ten_hd' field-label='so_hd' fields ='so_hd,ten_hd'
					ng-model='dt_current.ten_hd' label='dt_current.ma_hd'>
				</ng-typeahead>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">{{getLabel('MA_dt_PHI','Doanh thu/chi phí').text}}</label>
			<div class="col-sm-4">
				<ng-typeahead
					module='dmphi' field-model='ten_phi' field-label='ma_phi' fields ='ma_phi,ten_phi'
					ng-model='dt_current.ten_phi' label='dt_current.ma_phi'>
				</ng-typeahead>
			</div>
			<label class="control-label col-sm-2">{{getLabel('NHAN_VIEN','Nhân viên').text}} </label>
			<div class="col-sm-4">
				<ng-typeahead
					module='dmnv' field-model='ten_nv' field-label='ma_nv' fields ='ma_nv,ten_nv'
					ng-model='dt_current.ten_nv' label='dt_current.ma_nv'>
				</ng-typeahead>
			</div>
		</div>
    <div class="form-group">
			<label class="control-label col-sm-2">{{getLabel('bp','Bộ phận').text}}</label>
			<div class="col-sm-4">
				<ng-typeahead
					module='dmbp' field-model='ten_bp' field-label='ma_bp' fields ='ma_bp,ten_bp'
					ng-model='dt_current.ten_bp' label='dt_current.ma_bp'>
				</ng-typeahead>
			</div>

		</div>

</form-detail-body></form-detail>
