<div class="form-group">
	<label class="control-label ">Kho xuất</label>
	<div class="">
		<ng-typeahead module='dmkho' field-model='ten_kho' field-label='ma_kho' fields='ma_kho,ten_kho' placeholder="Nhập mã hoặc tên kho..." ng-model='locals.ten_kho_x' label='locals.ma_kho_x'></ng-typeahead>
	</div>
</div>
<div class="form-group">
	<label class="control-label ">Kho nhập</label>
	<div class="">
		<ng-typeahead module='dmkho' field-model='ten_kho' field-label='ma_kho' fields='ma_kho,ten_kho' placeholder="Nhập mã hoặc tên kho..." ng-model='locals.ten_kho_n' label='locals.ma_kho_n'></ng-typeahead>
	</div>
</div>