<form-input>
	<form-input-body>
		<div class="form-group">
			<div class="col-md-4" ng-style="!isMobile?{height:(innerHeight-90).toString()+'px'}:{}">
				<div ng-class="!isMobile?'scrollable':''">
					<div class="scrollable-content">
						<div class="form-group">
							<label class="control-label">{{getLabel('SO_CT','Số chứng từ').text}} <span class='required' title="{{getLabel('SO_CT','Số chứng từ').text}} {{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
							<div>
								<input type="text" style='text-transform:uppercase' name='so_ct' class="form-control" ng-model='data.so_ct' ng-required="true" />
							</div>

							<label class="control-label"> {{getLabel('NGAY_CT','Ngày chứng từ').text}} <span class='required' title="{{getLabel('NGAY_CT','Ngày chứng từ').text}} {{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
							<div class="">
								<ng-datepicker ng-model='data.ngay_ct' ng-required='true'></ng-datepicker>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">{{getLabel('KHACH_HANG','Khách hàng').text}} <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
							<div class="">
								<ng-typeahead module='dmkh' fields='ma_kh,ten_kh' field-model='ten_kh' field-label='ma_kh' ng-model='data.ten_kh' label='data.ma_kh' ng-required='true' on-select="data.ma_so_thue=$item.ma_so_thue">
								</ng-typeahead>
							</div>
							<label class="control-label">{{getLabel('NGUOI_GIAO_DICH','Người giao dịch').text}}</label>
							<div class="">
								<input type="text" class="form-control" ng-model='data.ong_ba' />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">{{getLabel('TK_NO','Tài khoản nợ').text}} <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
							<div class="">
								<ng-typeahead module='dmtk' fields='tk,ten_tk' field-model='tk' field-label='ten_tk' ng-model='data.tk_no' label='data.ten_tk_no' ng-required='true' condition="loai_tk:1">
								</ng-typeahead>
							</div>

							<label class="control-label">{{getLabel('NGOAI_TE','Ngoại tệ').text}} <span class='required' title="{{getLabel('NGOAI_TE','Ngoại tệ').text}} {{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
							<div class="row">
								<div class="col-xs-6">
									<ng-selector ng-disabled="data.details.length>0" module='dmnt' fields='ma_nt,ten_nt,ty_gia' field-model='ma_nt' field-label='ten_nt' on-select="data.ty_gia = $item.ty_gia" ng-model="data.ma_nt" ng-required="true">
									</ng-selector>
								</div>

								<div class="col-xs-6">
									<input type="text" ng-data-loaded='isDataLoaded' ng-disabled="data.ma_nt=='VND' || !isDataLoaded" format="number" round='f_ty_gia' class="form-control" placeholder='Nhập tỷ giá' ng-model='data.ty_gia' ng-required="true" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label">{{getLabel('DIEN_GIAI','Diễn giải').text}}</label>
							<div class="">
								<input type="text" name='dien_giai' class="form-control" ng-model='data.dien_giai' />
							</div>
							<label class="control-label">{{getLabel('DVCS','Đơn vị cơ sở').text}} <span class='required' title="{{getLabel('DVCS','Đơn vị cơ sở').text}} {{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
							<div class="">
								<ng-selector module='dvcs' fields='_id,ten_dvcs' field-model='_id' field-label='ten_dvcs' options="item._id as item.ten_dvcs for item in items" ng-model="data.ma_dvcs" ng-required="true">
								</ng-selector>
							</div>
						</div>
						<div class="form-group">
							<label class="text-right">{{getLabel('co_gia_tri_voi','Có giá trị với ').text}}</label>
							<div class="">
								<label ng-repeat="item in [{v:0,t:'Mọi người'},{v:1,t:'Chỉ người tạo'},{v:2,t:'Những người sau'}]"  class="control-label">
							<input type='radio' ng-model='data.visible_to' name='visible_to' ng-value="item.v"/> {{item.t}}
						</label>
								<ui-select ng-show='data.visible_to==2' multiple ng-model="data.visible_to_users" theme="bootstrap" close-on-select="false" title="Chọn một user">
									<ui-select-match placeholder="Chọn user..">{{$item.name}}</ui-select-match>
									<ui-select-choices repeat="person.email as person in members | propsFilter: {name: $select.search, email: $select.search}">

										<small>
									 {{person.name}}

								 </small>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8" ng-style="!isMobile?{height:(innerHeight-100).toString()+'px'}:{}">
				<div ng-class="!isMobile?'scrollable':''">
					<!--table detail-->
					<div class="scrollable-content">
						<uib-accordion close-others="false">
							<uib-accordion-group heading="{{getLabel('tra_lai','Trả lại').text}}" is-open="true">
								<pn5-detail-table ng-master-data='data'></pn5-detail-table>
							</uib-accordion-group>
							<uib-accordion-group heading="{{getLabel('vatra_vao','VAT').text}}">
								<ng-vatvao ng-data='data.vatvaos' ng-master-data='data' tk-du-thue='data.tk_no' t-tien-nt="data.tien_tinh_thue_nt" t-tien="data.tien_tinh_thue" ten-vt='data.dien_giai' ma-kh='data.ma_kh'></ng-vatvao>
							</uib-accordion-group>
							<uib-accordion-group heading="{{getLabel('BO_XUNG','Đặc thù').text}} (*)" ng-show="data.options && data.options.fields && data.options.fields.length>0">
								<!--extra fields-->
								<div class="form-group" ng-repeat="field in  data.options.fields">
									<label class="control-label col-md-3">{{field.title}} <span class="required" ng-show="field.required">(*)</span></label>
									<div class="col-md-9">
										<input type="text" ng-if="field.type=='text'" ng-model="data.exfields[field.name]" class="form-control" ng-required="field.required" />
										<input type="text" format='number' ng-if="field.type=='number'" ng-model="data.exfields[field.name]" class="form-control" ng-required="field.required" />
										<ng-datepicker ng-model="data.exfields[field.name]" ng-if="field.type=='date'" ng-required="field.required"></ng-datepicker>

									</div>
								</div>
								<!--end extra fields-->
							</uib-accordion-group>
						</uib-accordion>
					</div>

				</div>
			</div>
		</div>
	</form-input-body>

	<form-input-footer>
		<label class="control-label col-md-1 disable-small-screen">{{getLabel('TIEN_hang','Tiền hàng').text}} </label>
		<div class="col-md-2 disable-small-screen">
			<label class="form-control" ng-model='data.t_tien_hang_nt' ng-sum="tien_hang_nt" ng-data="data.details">{{data.t_tien_hang_nt|number:2}}</label>
		</div>

		<label class="control-label col-md-1 disable-small-screen">{{getLabel('TIEN_CK','Tiền CK').text}} </label>
		<div class="col-md-2 disable-small-screen">
			<label class="form-control" ng-model='data.t_ck_nt' ng-sum="tien_ck_nt" ng-data="data.details">{{data.t_ck_nt|number:2}}</label>
		</div>

		<span ng-show="false">{{data.tien_tinh_thue=-(data.t_tien_hang-data.t_ck)}}</span>
		<span ng-show="false">{{data.tien_tinh_thue_nt=-(data.t_tien_hang_nt-data.t_ck_nt)}}</span>

		<label class="control-label col-md-1 disable-small-screen">{{getLabel('vat','VAT').text}} </label>
		<div class="col-md-2 disable-small-screen">
			<label class="form-control" ng-model='data.t_thue_nt' ng-sum="t_thue_nt" ng-data="data.vatvaos">{{STP.math.abs(data.t_thue_nt)|number:2}}</label>
		</div>

		<label class="control-label col-md-1 col-xs-6">{{getLabel('TONG_CONG','Tổng cộng').text}} </label>
		<div class="col-md-2 col-xs-6">
			<label class="form-control">{{data.t_tien_hang_nt-data.t_ck_nt + STP.math.abs(data.t_thue_nt)|number:2}}</label>
		</div>
	</form-input-footer>

</form-input>
