<div class="scrollable"> <div class="scrollable-header"><stplistheader></stplistheader></div>
<div class="row scrollable-content"> <div class="table-list">
	<table class ="table table-striped">
		<tr><th class="text-center"  style="width:30px" ng-show="multiSelect"><input type="checkbox" ng-model="selectionAll"></th><th style="width:30px"></th><th>Tên bút toán</th><th>TK chuyển</th><th>TK nhận</th><th>Loại</th></tr>
		<tr ng-repeat="r in list|limitTo:limitOpts.limit:limitOpts.begin" drag-to-dismiss="delete(r._id,dismissCB)" >
			<td width='30px' class="text-center" ng-show="multiSelect"> <input type="checkbox" ng-model="r.sel"/> </td><td class="text-center" style="width:30px"><div  ng-include="'templates/sys/quick-actions-list.html'"></div></td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				
					<div>{{ r.stt}} - {{ r.ten_bt }}</div>
					
				
			</td>
			
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				
					{{ r.tk_chuyen }}
			
			</td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				
					{{ r.tk_nhan }}
			
			</td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				
					{{ r.loai_kc }}
			
			</td>
		</tr>
	</table>
	<ng-page></ng-page>
</div>

</div></div>