<div class="modal-header">
	<button type="button" class="close" ng-click ='cancelFind()' aria-hidden="true"> &times;</button>
	<h4 class="modal-title" id="findModalLabel">
	   {{getLabel('TIM_CHUNG_TU','Tìm chứng từ').text}}
	</h4>
 </div>
 <div class="modal-body">
	<form name="formFind" novalidate class="css-form form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-2">{{getLabel('TU_NGAY','Từ ngày').text}}</label>
			<div class="col-sm-4">
				<ng-datepicker ng-model='vcondition.tu_ngay' ng-required='true'></ng-datepicker>
			</div>
			<label class="control-label col-sm-2">{{getLabel('DEN_NGAY','Đến ngày').text}}</label>
			<div class="col-sm-4">
				<ng-datepicker ng-model='vcondition.den_ngay'  ng-required='true'></ng-datepicker>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2">{{getLabel('ma_hd','Hợp đồng').text}}</label>
			<div class="col-sm-10">
				<ng-typeahead module="contract" fields="so_hd,ten_hd" field-model="ten_hd" field-label="so_hd"
					ng-model="vcondition.ten_hd" label ="vcondition.ma_hd">
				</ng-typeahead>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">{{getLabel('NHA_CC','Nhà cung cấp').text}}</label>
			<div class="col-sm-10">
				<ng-typeahead module="dmkh" fields="ma_kh,ten_kh" field-model="ten_kh" field-label="ma_kh"
					ng-model="vcondition.ten_kh" label ="vcondition.ma_kh">
				</ng-typeahead>
			</div>

		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">{{getLabel('DIEN_GIAI','Diễn giải').text}}</label>
			<div class="col-sm-10">
				<input type='text' class='form-control' ng-model='vcondition.dien_giai'/>
			</div>
		</div>

	</form>
 </div>
 <div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="okFind()" ng-disabled='formFind.$invalid'  ng-disabled="formFind.$invalid">
	   {{getLabel('TIM','Tìm').text}}
	</button>
	<button type="button" class="btn btn-default" ng-click='cancelFind()'>{{getLabel('HUY','Hủy').text}}</button>
 </div>
