<form-input>
	<form-input-body>
		<div class="form-group">
			<div class="col-md-4" ng-style="!isMobile?{height:(innerHeight-90).toString()+'px'}:{}">
				<div ng-class="!isMobile?'scrollable':''">
					<div class="scrollable-content">
						<uib-accordion close-others="true">
							<uib-accordion-group heading="{{getLabel('Chung','Thông tin chung').text}}" is-open="true">
								<div class="form-group">
									<label class="control-label">{{getLabel('SO_CT','Số chứng từ').text}} <span class='required' title="{{getLabel('SO_CT','Số chứng từ').text}} {{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
									<div class="">
										<input type="text" style='text-transform:uppercase' name='so_ct' class="form-control" ng-model='data.so_ct' ng-required="true" />
									</div>

									<label class="control-label">{{getLabel('NGAY_CT','Ngày chứng từ').text}} <span class='required' title="{{getLabel('NGAY_CT','Ngày chứng từ').text}} {{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
									<div class="">
										<ng-datepicker ng-model='data.ngay_ct' ng-required='true'></ng-datepicker>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label">{{getLabel('DIEN_GIAI','Diễn giải').text}}</label>
									<div class="">
										<input type="text" name='dien_giai' class="form-control" ng-model='data.dien_giai' />
									</div>

								</div>
								<div class="form-group">

									<label class="control-label">{{getLabel('DVCS','Đơn vị cơ sở').text}} <span class='required' title="{{getLabel('DVCS','Đơn vị cơ sở').text}} {{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
									<div class="">
										<ng-selector module='dvcs' fields='_id,ten_dvcs' field-model='_id' field-label='ten_dvcs' options="item._id as item.ten_dvcs for item in items" ng-model="data.ma_dvcs" ng-required="true">
										</ng-selector>
									</div>
								</div>
								<div class="form-group">
									<label class="">{{getLabel('co_gia_tri_voi','Có giá trị với ').text}}</label>
									<div class="">
										<label ng-repeat="item in [{v:0,t:'Mọi người'},{v:1,t:'Chỉ người tạo'},{v:2,t:'Những người sau'}]"  class="control-label">
										<input type='radio' ng-model='data.visible_to' name='visible_to' ng-value="item.v"/> {{item.t}}
									</label>
										<ui-select ng-show='data.visible_to==2' multiple ng-model="data.visible_to_users" theme="bootstrap" close-on-select="false" title="Chọn một user">
											<ui-select-match placeholder="Chọn user..">{{$item.name}}</ui-select-match>
											<ui-select-choices repeat="person.email as person in members | propsFilter: {name: $select.search, email: $select.search}">

												<small>
												 {{person.name}}

											 </small>
											</ui-select-choices>
										</ui-select>
									</div>
								</div>
							</uib-accordion-group>
							<uib-accordion-group heading="{{getLabel('BO_XUNG','Đặc thù').text}} (*)" ng-show="data.options && data.options.fields && data.options.fields.length>0">
								<!--extra fields-->
								<div class="form-group" ng-repeat="field in  data.options.fields">
									<label class="control-label col-md-3">{{field.title}} <span class="required" ng-show="field.required">(*)</span></label>
									<div class="col-md-9">
										<input type="text" ng-if="field.type=='text'" ng-model="data.exfields[field.name]" class="form-control" ng-required="field.required" />
										<input type="text" format='number' ng-if="field.type=='number'" ng-model="data.exfields[field.name]" class="form-control" ng-required="field.required" />
										<ng-datepicker ng-model="data.exfields[field.name]" ng-if="field.type=='date'" ng-required="field.required"></ng-datepicker>

									</div>
								</div>
								<!--end extra fields-->
							</uib-accordion-group>
						</uib-accordion>
					</div>
				</div>
			</div>
			<div class="col-md-8" ng-style="!isMobile?{height:(innerHeight-100).toString()+'px'}:{}">
				<div ng-class="!isMobile?'scrollable':''">
					<div class="scrollable-content">
						<uib-accordion close-others="false">
							<uib-accordion-group heading="{{getLabel('chi_tiet','Chi tiết').text}}" is-open="true">
								<pkh-detail-table ng-master-data='data'></pkh-detail-table>
							</uib-accordion-group>
						</uib-accordion>
					</div>
				</div>
			</div>
		</div>
	</form-input-body>
	<form-input-footer>
		<label class="control-label col-md-offset-9 col-md-1 col-xs-6">{{getLabel('TONG_CONG','Tổng cộng').text}} </label>
		<div class="col-md-2 col-xs-6">
			<label class="form-control" ng-model='data.t_tien_nt' ng-sum="tien_nt" ng-data="data.details">{{data.t_tien_nt|number:f_tien_nt}}</label>
		</div>
	</form-input-footer>
</form-input>
