<list btnimport="text:'Nhập dữ liệu từ excel'" btnexport="show:true" options="text:getLabel('TUY_CHON','Tùy chọn').text">
	<list-ext-filter></list-ext-filter>
	<list-ext-toolbar>
		<li class="list-group-item" ng-click="printBarcode()">{{getLabel('print_bar_code','In mã vạch').text}}</li>
	</list-ext-toolbar>
	<list-body>
		<div class="table-list">

			<!--<div class="ui six doubling cards" style="margin:2px" ng-if="view=='grid'">
				<div class="ui card" ng-repeat="r in list | limitTo:limitOpts.limit:limitOpts.begin" title="{{r.ma_vt}} - {{r.ten_vt}}">
					<div class="content text-center">
						{{r.ma_vt}}
					</div>
					<div class="image">

						<a ng-click='edit(r._id)'>
							<img ng-if="r.picture_thumb && r.picture_thumb.indexOf('noimage')<0" img-cache="img-cache" ic-src="{{server_url}}{{r.picture_thumb}}">
							<img ng-if="!r.picture_thumb || r.picture_thumb.indexOf('noimage')>=0" img-cache="img-cache" ic-src="images/product.png">
						</a>

					</div>
					<div class="content">
						<div class="ui right floated meta" ng-show="multiSelect"><input type="checkbox" ng-model="r.sel"/></div>
						<div class="ui right floated meta" ng-include="'templates/sys/quick-actions-list-right.html'"></div>

						<div style="cursor:pointer;white-space: nowrap; text-overflow:ellipsis; overflow: hidden">{{r.ten_vt}}</div>
						<div>
							<b>{{r.gia_ban_le|number:0}}
								đ</b>
						</div>
					</div>

				</div>
			</div>-->

			<table class="table table-striped table-hover" ng-if="view=='grid'">
				<tr>
					<th>
						<input type="checkbox" ng-model="selectionAll"  ng-show="multiSelect">
					</th>
					<th>
					</th>
					<th>
						{{getLabel('hinh','Hình').text}}
					</th>
					<th>
						{{getLabel('ma_vt','Mã vật tư').text}}
					</th>
					<th>
						{{getLabel('ten_vt','Tên vật tư').text}}
					</th>
					<th>
						{{getLabel('dvt','ĐVT').text}}
					</th>
					<th>
						{{getLabel('nh_vt1','Nhóm').text}}
					</th>

					<th>
						{{getLabel('ncc','Nhà cung cấp').text}}
					</th>
					<th>
						{{getLabel('gia_ban_le','Giá bán lẻ').text}}
					</th>
					<th>

					</th>
				</tr>
				<tr ng-repeat="r in list|limitTo:limitOpts.limit:limitOpts.begin" drag-to-dismiss="delete(r._id,dismissCB)" style="cursor:pointer">
					<td width='30px' class="text-center" ng-show="multiSelect">
						<input type="checkbox" ng-model="r.sel"/>
					</td>
					<td class="text-center" style="width:30px">
						<div ng-include="'templates/sys/quick-actions-list.html'"></div>
					</td>

					<td  ng-click='edit(r._id)' style="width:48px">
						<div>
							<img  style="width:32px;height:32px" ng-if="r.picture_thumb && r.picture_thumb.indexOf('noimage')<0" img-cache="img-cache" ic-src="{{server_url}}{{r.picture_thumb}}">
							<img  style="width:32px;height:32px" ng-if="!r.picture_thumb || r.picture_thumb.indexOf('noimage')>=0" img-cache="img-cache" ic-src="images/product.png">
						</div>
					</td>
					<td  ng-click='edit(r._id)'>
						{{r.ma_vt}}
					</td>
					<td  ng-click='edit(r._id)'>
						{{r.ten_vt}}
					</td>
					<td ng-click='edit(r._id)'>
						{{r.ma_dvt}}
					</td>
					<td ng-click='edit(r._id)'>
						{{r.ten_nvt}}
					</td>

					<td ng-click='edit(r._id)'>
						{{r.ten_ncc}}
					</td>
					<td ng-click='edit(r._id)'>
						{{r.gia_ban_le|number}}
					</td>
					<td>
						<a href ng-click="openUrl('ckvttheokho',{},null,{ma_vt:r.ma_vt})" class="btn btn-xs btn-default">Tồn kho</a>
					</td>
				</tr>
			</table>

			<div ng-if="view=='barcode'">
				<barcode data='list' field-code='ma_vt' field-label='ten_vt' field-price='gia_ban_le' on-click='edit($item._id)'></barcode>
			</div>
			<ng-page></ng-page>

		</div>
		<button-slide width="300" actions="buttonSlideActions" text='Lọc nhanh'>
			<btn-content>
				<div style='padding:5px'>
					<b>{{getLabel('nhom','Nhóm').text}}</b>
				</div>
				<div class="list-group">

					<a ng-class="ma_nvt?'list-group-item':'list-group-item list-group-item-info'" ng-click="searchGroup({});buttonSlideActions.hide()">Tất cả</a>
					<div role="presentation" ng-repeat='group in groups'>
						<a ng-class="ma_nvt==group._id?'list-group-item list-group-item-info':'list-group-item'" ng-click="searchGroup(group);buttonSlideActions.hide()">{{group.ten_nvt}}</a>
					</div>
				</div>
				<div style='padding:5px'>
					<b>{{getLabel('loc_nhanh','Lọc nhanh').text}}</b>
				</div>
				<div class="list-group">

					<a ng-class="!type_filter?'list-group-item  list-group-item-info':'list-group-item'" ng-click="searchType();buttonSlideActions.hide()">Tất cả</a>
					<a ng-class="type_filter=='hot'?'list-group-item  list-group-item-info':'list-group-item'" ng-click="searchType('hot');buttonSlideActions.hide()">Sản phẩm HOT</a>
					<a ng-class="type_filter=='bestseller'?'list-group-item  list-group-item-info':'list-group-item'" ng-click="searchType('bestseller');buttonSlideActions.hide()">Sản phẩm bán chạy</a>
					<a ng-class="type_filter=='banner_small'?'list-group-item  list-group-item-info':'list-group-item'" ng-click="searchType('banner_small');buttonSlideActions.hide()">Sản phẩm nổi bật</a>
					<a ng-class="type_filter=='banner_large'?'list-group-item  list-group-item-info':'list-group-item'" ng-click="searchType('banner_large');buttonSlideActions.hide()">Slide</a>
				</div>
			</btn-content>
		</button-slide>
	</list-body>
</list>
