<form-input  auto-height="true"><form-input-body>
	<div class="form-group">
		<label class="control-label col-sm-3">Tên quyển chứng từ <span style='color:red' title='Không được trống'>(*)</span></label>
		<div class="col-sm-9">
			<input type="text" class="form-control" ng-model='data.ten_qct' ng-required="true">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3">Mã chứng từ <span style='color:red' title='Không được trống'>(*)</span></label>
		<div class="col-sm-3">
			<!--<input type="text" style="text-transform:uppercase" class="form-control" ng-model='data.ma_ct' ng-required ="true">-->
            <select class="form-control" ng-model="data.ma_ct" ng-required="true" ng-options="m.path.toUpperCase() as (m.path.toUpperCase() + '-' + m.header) for m in modules|orderBy:'header'">
            </select>
			
		</div>
		<label class="control-label col-sm-3">Trường <span style='color:red' title='Không được trống'>(*)</span></label>
		<div class="col-sm-3">
			<input type="text"  class="form-control" ng-model='data.field' ng-required ="true">
			
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3">Tiền tố </label>
		<div class="col-sm-3">
			<input type="text" class="form-control" ng-model='data.tien_to' >
			
		</div>
		
		<label class="control-label col-sm-3">Hậu tố </label>
		<div class="col-sm-3">
			<input type="text" class="form-control" ng-model='data.hau_to' >
			
		</div>
		
		
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3">Số hiện tại <span style='color:red' title='Không được trống'>(*)</span></label>
		<div class="col-sm-3">
			<input type="text" format='number'  class="form-control" ng-model='data.so_ht' ng-required ="true">
			
		</div>
		<label class="control-label col-sm-3">Số tối đa </label>
		<div class="col-sm-3">
			<input type="text" format='number' class="form-control" ng-model='data.den_so' >
			
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-10">
			<div class="checkbox">
				<label><input type="checkbox" ng-model="data.status" /> Còn sử dụng</label>
			</div>
		</div>
	</div>
</form-input-body></form-input>