<form-input>
	<form-input-body>
		<div class="form-group">
			<div class="col-md-4" ng-style="!isMobile?{height:(innerHeight-90).toString()+'px'}:{}">
				<div ng-class="!isMobile?'scrollable':''">
					<div class="scrollable-content">
						<uib-accordion close-others="true">
							<uib-accordion-group heading="{{getLabel('Chung','Thông tin chung').text}}" is-open="true">
								<div class="form-group">
									<label class="control-label">{{getLabel('trang_thai','Trạng thái').text}}
									<span class='required'>(*)</span></label>
									<div>
										<ng-selector module='trangthai' fields='ma_trang_thai,ten_trang_thai' field-model='ma_trang_thai' field-label='ten_trang_thai' condition="ma_ct:'PC3'" show-button-list="false" ng-model="data.trang_thai" ng-required="true"></ng-selector>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label">{{getLabel('LOAI_PHIEU','Loại phiếu').text}}
									<span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
									<div class="">
										<select ng-model="data.ma_gd" class="form-control">
										<option value="1">{{getLabel('PHIEU_CHI_TIEN_MAT','Phiếu chi tiền mặt').text}}</option>
										<option value="2">{{getLabel('BAO_NO','Báo nợ (Chi chuyển khoản)').text}}</option>
									</select>
									</div>

									<label class="control-label">{{getLabel('NGOAI_TE','Ngoại tệ').text}}
									<span class='required' title="{{getLabel('NGOAI_TE','Ngoại tệ').text}} {{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
									<div class="row">
										<div class="col-xs-6">
											<ng-selector module='dmnt' fields='ma_nt,ten_nt,ty_gia' field-model='ma_nt' field-label='ten_nt' on-select="data.ty_gia = $item.ty_gia" ng-model="data.ma_nt" ng-required="true"></ng-selector>
										</div>
										<div class="col-xs-6">
											<input type="text" ng-data-loaded='isDataLoaded' ng-disabled="data.ma_nt=='VND' || !isDataLoaded" format="number" round='f_ty_gia' class="form-control" placeholder='Nhập tỷ giá' ng-model='data.ty_gia' ng-required="true" />
										</div>
									</div>

								</div>
								<div class="form-group  ">
									<label class="control-label">{{getLabel('SO_CT','Số').text}}
									<span class='required' title="{{getLabel('SO_CT','Số chứng từ').text}} {{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
									<div class="">
										<input type="text" style='text-transform:uppercase' name='so_ct' class="form-control" ng-model='data.so_ct' ng-required="true" />
									</div>

									<label class="control-label">
									{{getLabel('NGAY_CT','Ngày').text}}
									<span class='required' title=" {{getLabel('NGAY_CT','Ngày chứng từ').text}} {{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
									<div class="">
										<ng-datepicker ng-model='data.ngay_ct' ng-required='true'></ng-datepicker>
									</div>

								</div>
								<div class="form-group">
									<label class="control-label">{{getLabel('kh_nhan_vien','Khách hàng/Nhân viên').text}}
									<span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
									<div class="">
										<ng-typeahead module='dmkh' fields='ma_kh,ten_kh' field-model='ten_kh' field-label='ma_kh' ng-model='data.ten_kh' label='data.ma_kh' ng-required='true'></ng-typeahead>
									</div>
									<label class="control-label">{{getLabel('NGUOI_GIAO_DICH','Người giao dịch').text}}</label>
									<div class="">
										<input type="text" class="form-control" ng-model='data.ong_ba' />
									</div>

								</div>

								<div class="form-group">
									<label class="control-label">{{getLabel('DIEN_GIAI','Diễn giải').text}}</label>
									<div class="">
										<input type="text" name='dien_giai' class="form-control" ng-model='data.dien_giai' />
									</div>

								</div>

								<div class="form-group">

									<label class="control-label">{{getLabel('DVCS','Đơn vị cơ sở').text}}
									<span class='required' title="{{getLabel('DVCS','Đơn vị cơ sở').text}} {{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
									<div class="">
										<ng-selector module='dvcs' fields='_id,ten_dvcs' field-model='_id' field-label='ten_dvcs' options="item._id as item.ten_dvcs for item in items" ng-model="data.ma_dvcs" ng-required="true"></ng-selector>
									</div>
								</div>
								<div class="form-group">
									<label>Có giá trị với
								</label>
									<div class="">
										<label ng-repeat="item in [{v:0,t:'Mọi người'},{v:1,t:'Chỉ người tạo'},{v:2,t:'Những người sau'}]" style="padding-right:10px">
										<input type='radio' ng-model='data.visible_to' name='visible_to' ng-value="item.v"/>
										{{item.t}}
									</label>
										<ui-select ng-show='data.visible_to==2' multiple="multiple" ng-model="data.visible_to_users" theme="bootstrap" close-on-select="false" title="Chọn một user">
											<ui-select-match placeholder="Chọn user..">{{$item.name}}</ui-select-match>
											<ui-select-choices repeat="person.email as person in members | propsFilter: {name: $select.search, email: $select.search}">

												<small>
												{{person.name}}

											</small>
											</ui-select-choices>
										</ui-select>
									</div>
								</div>
							</uib-accordion-group>
							<uib-accordion-group heading="{{getLabel('BO_XUNG','Đặc thù').text}} (*)" ng-show="data.options && data.options.fields && data.options.fields.length>0">
								<!--extra fields-->
								<div class="form-group" ng-repeat="field in  data.options.fields">
									<label class="control-label col-md-3">{{field.title}}
									<span class="required" ng-show="field.required">(*)</span></label>
									<div class="col-md-9">
										<input type="text" ng-if="field.type=='text'" ng-model="data.exfields[field.name]" class="form-control" ng-required="field.required" />
										<input type="text" format='number' ng-if="field.type=='number'" ng-model="data.exfields[field.name]" class="form-control" ng-required="field.required" />
										<ng-datepicker ng-model="data.exfields[field.name]" ng-if="field.type=='date'" ng-required="field.required"></ng-datepicker>

									</div>
								</div>
								<!--end extra fields-->
							</uib-accordion-group>
						</uib-accordion>
					</div>
				</div>
			</div>
			<div class="col-md-8" ng-style="!isMobile?{height:(innerHeight-100).toString()+'px'}:{}">
				<div ng-class="!isMobile?'scrollable':''">
					<div class="scrollable-content">
						<uib-accordion close-others="true">
							<uib-accordion-group heading="{{getLabel('CHI_THEO','Chi theo').text}} {{getLabel('KHACH_HANG','Khách hàng').text}}" is-open="true">
								<pc3-detail-table ng-master-data='data'></pc3-detail-table>
							</uib-accordion-group>

						</uib-accordion>
					</div>
				</div>
			</div>
		</div>
	</form-input-body>
	<form-input-footer>
		<label class="control-label col-md-2">{{getLabel('TONG_TIEN_kh','T.toán k.hàng').text}}</label>
		<div class="col-md-2">
			<label class="form-control" ng-model='data.t_tien_kh_nt' ng-data='data.details' ng-sum='tien_nt'>{{data.t_tien_kh_nt|number:2}}</label>
		</div>

	</form-input-footer>
</form-input>
