<div class="form-group">
  <label class="control-label">TK nợ</label>
  <div class="">
    <ng-typeahead module='dmtk' field-model='tk' field-label='ten_tk' fields='tk,ten_tk' placeholder="Nhập tk hoặc tên tk..." ng-model='options.tk_no' condition="loai_tk:1" label='options.ten_tk_no'></ng-typeahead>
  </div>
</div>
<div class="form-group">
  <label class="control-label">TK có</label>
  <div class="">
    <ng-typeahead module='dmtk' field-model='tk' field-label='ten_tk' fields='tk,ten_tk' placeholder="Nhập tk hoặc tên tk..." ng-model='options.tk_co' condition="loai_tk:1" label='options.ten_tk_co'></ng-typeahead>
  </div>
</div>