<form-input auto-height="true"><form-input-body>
	<div class="form-group">
		<label class="control-label col-sm-2">Tên liên hệ <span style='color:red' title='Tên liên hệ không được trống'>(*)</span></label>
		<div class="col-sm-4">
			<input type="text" name ='ten_lien_he' class="form-control" ng-model='data.ten_lien_he'  ng-required="true">
		</div>
		<label class="control-label col-sm-2">Nhóm</label>
		<div class="col-sm-4">
			<ng-selector
				module="group" fields="_id,group_name" field-model="_id" field-label = "group_name"
				condition ="group_type:'CONTACT'"  ng-model='data.nh_lh' default-values="group_type:'CONTACT'">
			</ng-selector>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2">Tổ chức/công ty</label>
		<div class="col-sm-4">
			<ng-typeahead 
				module='dmkh' fields='_id,ten_kh' field-model='ten_kh' field-label='_id'
				ng-model='data.ten_kh' label='data.id_kh'>
			</ng-typeahead>
		</div>
		<label class="control-label col-sm-2">Địa chỉ</label>
		<div class="col-sm-4">
			<input type="text" name ='dia_chi' class="form-control"  ng-model='data.dia_chi'>
		</div>
	</div>
	
	<div class="form-group">
		<label class="control-label col-sm-2">Điện thoại</label>
		<div class="col-sm-4">
			<input type="tel" name ='dien_thoai' class="form-control"  ng-model='data.dien_thoai'>
		</div>
		<label class="control-label col-sm-2">Fax</label>
		<div class="col-sm-4">
			<input type="tel" class="form-control"  ng-model='data.fax'>
		</div>
	</div>
	
	<div class="form-group">
		<label class="control-label col-sm-2">Email</label>
		<div class="col-sm-4">
			<input type="email" name ='email' class="form-control"  ng-model='data.email'>
		</div>
		<label class="control-label col-sm-2">Website</label>
		<div class="col-sm-4">
			<input type="url" class="form-control"  ng-model='data.website'>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2">Ghi chú</label>
		<div class="col-sm-10">
			<textarea rows="3" class="form-control"  ng-model='data.ghi_chu'>
			</textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2">Nhãn</label>
		<div class="col-sm-10">
				<ng-selector
					module='label' fields='label_name' field-model='label_name' field-label='label_name'
					multiple="true" ng-model='data.labels' empty_yn='true'
					condition ="label_type:'LIENHE'" default-values="label_type:'LIENHE'">
				</ng-selector>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 text-right">Có giá trị với </label>
		<div class="col-sm-10">
			<label ng-repeat="item in [{v:0,t:'Mọi người'},{v:1,t:'Chỉ người tạo'},{v:2,t:'Những người sau'}]" style="padding-right:10px">
				<input type='radio' ng-model='data.visible_to' name='visible_to' ng-value="item.v"/> {{item.t}}
			</label>
			<ui-select ng-show='data.visible_to==2'  multiple ng-model="data.visible_to_users" theme="bootstrap"  close-on-select="false"  title="Chọn một user">
				 <ui-select-match placeholder="Chọn user..">{{$item.name}}</ui-select-match>
				 <ui-select-choices repeat="person.email as person in members | propsFilter: {name: $select.search, email: $select.search}">

					 <small>
						 {{person.name}}

					 </small>
				 </ui-select-choices>
			 </ui-select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<div class="checkbox">
				<label><input type="checkbox" ng-model="data.status" /> Còn sử dụng</label>
			</div>
		</div>
	</div>
</form-input-body></form-input>