<form-input  auto-height="true"><form-input-body>
	<div class="form-group">
		<label class="control-label col-md-3">Mã đơn vị cơ sở <span class="required">(*)</span></label>
		<div class="col-md-3">
			<input type="text" name ='ten_dvcs' class="form-control input-md"  ng-model='data.ma_dvcs' required>
		</div>
	</div>
	<div class="form-group">
		
		<label class="control-label col-md-3">Tên đơn vị cơ sở <span class="required">(*)</span></label>
		<div class="col-md-9">
			<input type="text" name ='ten_dvcs' class="form-control input-md" placeholder='Nhập tên đơn vị' ng-model='data.ten_dvcs' required>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 text-right">Có giá trị với </label>
		<div class="col-sm-9">
			<label ng-repeat="item in [{v:0,t:'Mọi người'},{v:1,t:'Chỉ người tạo'},{v:2,t:'Những người sau'}]" style="padding-right:10px">
				<input type='radio' ng-model='data.visible_to' name='visible_to' ng-value="item.v"/> {{item.t}}
			</label>
			<ui-select ng-show='data.visible_to==2'  multiple ng-model="data.visible_to_users" theme="bootstrap"  close-on-select="false"  title="Chọn một user">
				 <ui-select-match placeholder="Chọn user..">{{$item.name}}</ui-select-match>
				 <ui-select-choices repeat="person.email as person in members | propsFilter: {name: $select.search, email: $select.search}">

					 <small>
						 {{person.name}}

					 </small>
				 </ui-select-choices>
			 </ui-select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-3 col-md-9">
			<div class="checkbox">
				<label><input type="checkbox" ng-model="data.status" /> Còn sử dụng</label>
			</div>
		</div>
	</div>

</form-input-body></form-input>