<div class="table-responsive detail-table">
	<table class="table table-form">

		<tr>
			<th>{{getLabel('SO_LUONG_NHAP','SL nhập').text}}</th>
			<th  ng-show="app_info.show_gia_von">{{getLabel('GIA_VON','Giá vốn').text}}</th>
			<th  ng-show="app_info.show_gia_von">{{getLabel('TIEN_NHAP','Tiền nhập').text}}</th>

		</tr>
		<tbody ng-repeat="r in ngMasterData.details">
			<tr>

				<td colspan='16' style=''>
					<div style='padding-right:10px;font-size: 18px;' title="Xóa dòng này" class="pull-left close" ng-click="delete1Row(r)">

						&times;
					</div>
					<div ng-click='editDetail(r.line)'>
						<b>{{r.ten_vt}}
							-
							{{r.ma_vt}}</b>
						({{r.ma_dvt}})
						<span ng-if='r.ma_lo'>,
							{{getLabel('LO','Lô').text}}:
							{{r.ma_lo}}</span>
						<span ng-if='r.han_sd'>,
							{{getLabel('hsd','HSD').text}}:
							{{r.han_sd|date:'dd/MM/yyyy'}}</span>
						<span ng-if='r.ma_tt1'>,{{getLabel('TT1','TT1').text}}:
							{{r.ma_tt1}}</span>
						<span ng-if='r.ma_tt2'>,{{getLabel('TT2','TT2').text}}:
							{{r.ma_tt2}}</span>
						<span ng-if='r.ma_tt3'>,{{getLabel('TT3','TT3').text}}:
							{{r.ma_tt3}}</span>
						<span>,
							{{getLabel('ton_kho','Tồn kho').text}}:
							{{r.ton_kho}}</span>
						<span>
							,
							{{getLabel('TK_VT','TK vật tư').text}}:
							{{r.tk_vt}}
						</span>
						<span>
							,
							{{getLabel('TK_DU','TK đối ứng').text}}:
							{{r.tk_du}}
						</span>
						<span ng-if='r.ten_dt'>
							,
							{{getLabel('VU_VIEC','Vụ việc').text}}:
							{{r.ten_dt}}
						</span>
						<div style="color:green">
							<span ng-if="r.sl_xuat_pxc">
								{{getLabel('da_xuat','SL xuất').text}}:
								{{r.sl_xuat_pxc|number}}</span>
							<span ng-if="r.sl_da_nhap">,
								{{getLabel('da_nhap','Đã nhập').text}}:
								{{r.sl_da_nhap|number}}</span>
						</div>
					</div>

				</td>
			</tr>
			<tr>

				<td style=''>
					<input type='text' style='min-width:80px' format='number' round="f_sl" class='form-control' ng-model='r.sl_xuat'/>
				</td>

				<td ng-show="app_info.show_gia_von">
					<input  type='text' style='min-width:100px' format='number' class='form-control' ng-model='r.gia_von_nt'  ng-readonly="!r.px_gia_dd"/>
				</td>
				<td ng-show="app_info.show_gia_von">
						<div class='form-control' ng-readonly='true' style='cursor:pointer' ng-click='editDetail(r.line)'>{{r.tien_xuat_nt = STP.round(r.sl_xuat*r.gia_von_nt,f_tien_nt)|number:f_tien_nt}}</div>
						<div class='form-control' ng-show='false'>{{r.gia_von = STP.round(r.gia_von_nt * ngMasterData.ty_gia,0)}}</div>
						<div class='form-control' ng-show='false'>{{r.tien_xuat = STP.round(r.tien_xuat_nt * ngMasterData.ty_gia,0)}}</div>
				</td>

			</tr>
			<tr ng-click='editDetail(r.line)'>
				<td style="cursor:pointer" colspan="17">
					<span ng-repeat="(key,value) in r.exfields_detail" ng-show="key.indexOf('tien_phi')<0">
						{{getLabel(key,key).text + ': ' +  value}},
					</span>
				</td>
			</tr>
		</tbody>

	</table>

</div>
<div style='padding-bottom:13px;padding-left:10px;padding-top:10px'>
	<div class='btn-group'>
		<button type="button" class='btn btn-xs btn-primary'  ng-click="addDetail()">
			<i class="fa fa-plus-square-o" aria-hidden="true"></i> {{getLabel('dong_moi','Thêm dòng mới').text}}
		</button>

	</div>
</div>
