<div class='container'>
	<div class="col-sm-12">
		<form  name ="form_import" action="{{action + '&update=' + update}}"  method="post"  enctype="multipart/form-data">
			<div class="form-group">
				<div class='col-lg-6'>
					<input type="file" class="form-control" name ="xlsx"/>
				</div>
				<div class='col-lg-6'>
					<br/>
					<input type='checkbox' ng-model='update'/> {{getLabel('CAP_NHAT_NEU_TON_TAI','Cập nhật nếu dữ liệu đã tồn tại').text}}
				</div>
			</div>
			<div class="form-group">
				<div class='col-xs-12'>
					<input type="submit" class='btn btn-primary btn-md' value="Gửi">
				</div>
			</div>
			<div class="form-group">
				<div class='col-xs-12'>
					<br/>
					<a href="{{template}}">{{getLabel('TAI_TEP_MAU','Tải tệp mẫu').text}}</a>
				</div>
			</div>
		</form>
	</div>
</div>

