<div class="modal-header">
	<button type="button" class="close" ng-click ='cancel()' aria-hidden="true"> &times;</button>
	<h4 class="modal-title" id="detailModalLabel">
	   {{profile.name}}
	</h4>
 </div>
 <div class="modal-body">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<img style="width:100%" ng-src="{{server_url}}{{profile.picture}}"/>
			</div>
			<div class="col-sm-9">
				<p>
					<label style="width:100px;text-align:right">{{getLabel('HO_VA_TEN','Họ tên').text}}: </label> {{profile.name}}
				</p>
				<p ng-if="profile.email">
					<label style="width:100px;text-align:right">Email: </label> {{profile.email}}
				</p>
				<p ng-if="profile.address">
					<label style="width:100px;text-align:right">{{getLabel('DIA_CHI','Địa chỉ').text}}: </label> {{profile.address}}
				</p>
				<p ng-if="profile.phone">
					<label style="width:100px;text-align:right">{{getLabel('DIEN_THOAI','Điện thoại').text}}: </label> {{profile.phone}}
				</p>
				<p ng-if="profile.company">
					<label style="width:100px;text-align:right">{{getLabel('CONG_TY','Công ty').text}}: </label> {{profile.company}}
				</p>
				<p>
					<a  ng-click ="gotoChat(profile.email)" class ="btn btn-primary" ng-show="currentUser.email!=profile.email">{{getLabel('GUI_TIN_NHAN','Gửi tin nhắn').text}}</a>
				</p>
			</div>
		</div>
	</div>
 </div>