<ul class="disable-medium-screen" ng-if="!isListView && (add_show || import_show || delete_show)" mfb-menu position="br" effect="zoomin" bgcolor='#34AADC' active-icon="glyphicon glyphicon-pencil" resting-icon="glyphicon glyphicon-menu-hamburger" toggling-method="hover">
  <li mfb-button mfb-button-close bgcolor="red" ng-show='add_show' icon="glyphicon glyphicon-plus" ng-click="add()" label="{{getLabel('moi',add_text).text}}"></li>
  <li mfb-button mfb-button-close bgcolor="#009688" ng-show='import_show' icon="glyphicon glyphicon-save-file" ng-click="importhtml5()" label="{{getLabel('nhap_tu_excel','Nhập từ Excel').text}}"></li>
  <li mfb-button mfb-button-close bgcolor="#5D4037" ng-show='delete_show' icon="glyphicon glyphicon-trash" ng-click="delete()" label="{{getLabel('xoa','Xóa').text}}"></li>

</ul>
<div ng-class="!isMobile?'scrollable':''">
  <div class="scrollable-header">
    <nav class="" ng-if="boxSearch || add_show || delete_show || export_show || import_show || options_show">
      <div class="navbar navbar-default" style="border-left:none;border-right:none;border-top:none">
        <form class="navbar-form navbar-left disable-small-screen" style="border:0px">
          <div class="form-group">
            <div class="checkbox" ng-show="multiSelect" style="padding-left:10px">
              <label><input type="checkbox" ng-model="selectionAll"  ng-change ="selectionAllChange(selectionAll)" /> <span style="font-weight:normal">{{getLabel('chon_tat_ca','Chọn tất cả').text}}</span></label>
            </div>
            <div ng-show="!multiSelect" class="disable-small-screen">
              <button class="btn btn-default btn-flat" ng-click="toggleMultiSel()"><i class="fa fa-check" aria-hidden="true"></i></button>
            </div>
          </div>
        </form>
        <form class="navbar-form navbar-right" style="border:0px">
          <!--<div  class="form-group disable-small-screen" style="padding-left:10px" ng-show="boxSearch">
						từ {{(current_page-1) * limit+1}} đến {{(current_page-1)*limit + list.length}} của {{rows_number|number}} dòng
						</div>-->

          <div class="btn form-group disable-small-screen" ng-show="boxSearch">
            <select ng-model="limit" ng-change="changeLimit(limit)" class="form-control" ng-options="n.v as n.t for n in [{v:5,t:'5 dòng/trang'},{v:10,t:'10 dòng/trang'},{v:20,t:'20 dòng/trang'},{v:30,t:'30 dòng/trang'},{v:50,t:'50 dòng/trang'},{v:200,t:'200 dòng/trang'}]">

							</select>
          </div>

          <div class="input-group form-group">
            <input ng-if="boxSearch" type='text' ng-model="condition" ng-keyup="searchKeyup($event,condition)" class="form-control" placeholder="{{getLabel('tim','Tìm').text}}..." />
            <!--<span class='btn  input-group-addon'  ng-click="search(condition)">{{getLabel('tim','Tìm').text}}</span>-->
            <a ng-if="boxSearch  && isMobile" class="btn  input-group-addon" ng-click="searchBarcode()" title="Quét mã vạch"><i class="fa fa-barcode" aria-hidden="true"></i></a>
            <a class='btn  input-group-addon' ng-if="boxSearch" ng-click="find()" title="{{getLabel('adv_search','Tìm nâng cao').text}}"><i class="fa fa-search" aria-hidden="true"></i></a>

            <a class="btn input-group-addon disable-small-screen" ng-click="add()" ng-if='add_show' title="Ctrl+M"><i class="fa fa-file-o" aria-hidden="true"></i></a>
            <a class="btn  input-group-addon disable-small-screen" ng-if="delete_show" ng-click="delete()" title="Ctrl+D" style="color:#34AADC"><i class="glyphicon glyphicon-trash"></i></a>
            <div class="btn input-group-addon">
              <a class="dropdown-toggle" style="text-decoration:none" ui-turn-on='extraButton'><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
              <div class="dropdown-menu list-group" role="menu" ui-outer-click="Ui.turnOff('extraButton')" ui-outer-click-if="Ui.active('extraButton')" ui-show="extraButton" ui-state="extraButton" ui-turn-off="extraButton">
                <a class="list-group-item" ng-click="updateSoCt()">{{getLabel('danh_lai_so_ct','Đánh lại số chứng từ').text}}</a>
                <a class="list-group-item" ng-click="importhtml5()" ng-show='import_show'>{{getLabel('nhap_tu_excel','Nhập từ excel').text}}</a>
                <a class="list-group-item" ng-click="export2excel()" ng-show='export_show'>{{getLabel('xuat_excel','Xuất Excel').text}}</a>
                <a class="list-group-item" ng-click="options()">{{getLabel('tuy_chon',option_text).text}}</a>
                <a class="list-group-item" ng-click="xemDeleted()">{{getLabel('deleted','Thùng rác').text}}</a>
                <div class="extra-button" ng-transclude="extToolbar"></div>
              </div>
            </div>
          </div>
          <span class="btn-group  disable-small-screen">
						  <a class="btn btn-default  dropdown-toggle btn-flat" ui-turn-on='excelTemplate'>
    							{{getLabel('xuat_excel','Excel').text}}
    							<span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" ui-outer-click="Ui.turnOff('excelTemplate')" ui-outer-click-if="Ui.active('excelTemplate')" role="menu" ui-show="excelTemplate" ui-state="excelTemplate" ui-turn-off="excelTemplate">

                <li role="presentation" ng-repeat='rpt in rpts'>
                  <a role="menuitem" tabindex="-1" ng-click="printXlsx(rpt._id)" href="javascript:;">{{rpt.ten_mau_in}}</a>
                </li>
                <li role="presentation" class="dropdown-header" ng-show='!rpts || rpts.length==0'>{{getLabel('chua_co_mau','Chưa có mẫu').text}}</li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" ng-click="rptManagement()">{{getLabel('khai_bao_mau','Khai báo mẫu').text}}</a>
                </li>
              </ul>
          </span>
        </form>
      </div>
    </nav>
  </div>
  <div class="row" ui-scroll-bottom="loadPage()">
    <div class="col-sm-12">
      <div class="">
        <div class="page-frame">
          <div ng-style="!isMobile?{'height':'300px'}:{}" ng-class="!isMobile?'scrollable-content':''">
              <div ng-transclude="bodyMaster" class="body-master">
              </div>
          </div>
        </div>
        <div class="page-frame" ng-if="!isMobile">
          <div ng-style="!isMobile?{'height':(innerHeight-300-138).toString() + 'px'}:{}" class="scrollable-content">
              <div ng-transclude="bodyDetail" class="body-detail">
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
  <div ng-transclude="footer"></div>
</div>
