<div class='container-fluid scrollable'>
	<div class="scrollable-header">
		<list-view-header header-title='ten_dt'>
			<li role="presentation" class="divider"></li>
			<li>
				<a class='dropdown-header' ng-click="addCustomer()">Thêm khách hàng</a>
				<a class='dropdown-header' ng-click="addContact()">Thêm Liên lạc</a>
			</li>
		</list-view-header>
	</div>
	<div class="row scrollable-content">
		<div class="col-sm-12">
			<div class="page-frame tab-custom">
				<uib-tabset>
					<uib-tab heading='Chi tiết'>
						<div class='form-horizontal'>
							<fieldset>
								<legend>Thông tin chi tiết</legend>
								<div class='form-group'>
									<label class='col-sm-2 control-label'>Mã:</label>
									<div class='col-sm-10 field-label' style="padding-left:10px!important">
										<a editable-text="data.ma_dt" onaftersave="update(data)">{{data.ma_dt}} <i class="fa fa-pencil-square-o"></i></a>
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-2 control-label'>Tên:</label>
									<div class='col-sm-10 field-label' style="padding-left:10px!important">
										<a editable-text="data.ten_dt" onaftersave="update(data)">{{data.ten_dt}} <i class="fa fa-pencil-square-o"></i></a>
									</div>
								</div>

								<div class='form-group'>
									<label class='col-sm-2 control-label'>Phụ trách:</label>
									<div class='col-sm-10 field-label' style="padding-left:10px!important">
										<a ng-click="openProfile(data.phu_trach)">{{data.phu_trach}}</a>
										<a editable-select="data.phu_trach" e-ng-options="r.email as r.name for r in members" onaftersave="update(data)">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-2 control-label'>Trạng thái:</label>
									<div class='col-sm-10 field-label' style="padding-left:10px!important">
										<div class="dropdown" ng-click="toggleDropdown('dtProgress')">
											<span ng-show='data.progress==0' id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" class='btn btn-xs btn-info dropdown-toggle'>Chưa thực hiện</span>
											<span ng-show='data.progress==1' id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" class='btn btn-xs btn-primary dropdown-toggle'>Đang thực hiện</span>
											<span ng-show='data.progress==2' id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" class='btn btn-xs btn-success dropdown-toggle'>Hoàn thành</span>
											<span ng-show='data.progress==3' id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" class='btn btn-xs btn-danger dropdown-toggle'>Tạm dừng</span>
											<span ng-show='data.progress==4' id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" class='btn btn-xs btn-warning dropdown-toggle'>Đang chờ</span>


											<ul class="dropdown-menu" role="menu" ui-show="dtProgress" ui-state="dtProgress">
												<li role="presentation" ng-show='data.progress!=2'><a role="menuitem" tabindex="-1" ng-click="update({progress:2})">Hoàn thành</a></li>
												<li role="presentation" ng-show='data.progress!=1'><a role="menuitem" tabindex="-1" ng-click="update({progress:1})">Đang thực hiện</a></li>
												<li role="presentation" ng-show='data.progress!=3'><a role="menuitem" tabindex="-1" ng-click="update({progress:3})">Tạm dừng</a></li>
												<li role="presentation" ng-show='data.progress!=4'><a role="menuitem" tabindex="-1" ng-click="update({progress:4})">Chờ</a></li>
												<li role="presentation" ng-show='data.progress!=0'><a role="menuitem" tabindex="-1" ng-click="update({progress:0})">Chưa thực hiện</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class='form-group' ng-show="data.ten_kh">
									<label class='col-sm-2 control-label'>Khách hàng:</label>
									<div class='col-sm-10 field-label' style="padding-left:10px!important"><a href="#!/dmkh/view/{{data.id_kh}}?redirect={{location}}">{{data.ten_kh}}</a></div>
								</div>
								<div class='form-group' ng-show="data.mieu_ta">
									<label class='col-sm-2 control-label'>Miêu tả:</label>
									<div class='col-sm-10 field-label' style="padding-left:10px!important"><span parse-html="data.mieu_ta"></span></div>
								</div>
								<div class='form-group' ng-show="data.date_created">
									<label class='col-sm-2 control-label'>Ngày tạo:</label>
									<div class='col-sm-10 field-label' style="padding-left:10px!important">{{data.date_created|date:'dd/MM/yyyy HH:mm:ss'}}</div>
								</div>
								<div class='form-group' ng-show="data.date_updated">
									<label class='col-sm-2 control-label'>Ngày cập nhật:</label>
									<div class='col-sm-10 field-label' style="padding-left:10px!important">{{data.date_updated|date:'dd/MM/yyyy HH:mm:ss'}}</div>
								</div>
							</fieldset>
							<fieldset>
								<legend>Liên kết</legend>
								<div>
									<stp-link link="data" collection='dmdt' collections-link="lienhe:'ten_lien_he,dien_thoai,email',dmkh:'ten_kh,dia_chi,dien_thoai,email'"></stp-link>
								</div>
							</fieldset>
						</div>
						<br/>
						<file link='data'></file>
						<br/>
						<comment link='data' user='user' title="{{data.ten_dt}}"></comment>

					</uib-tab>
					<uib-tab heading="Công việc">
						<task link='data' collection='dmdt' default-values="id_dt:'{{data._id}}',ten_dt:'{{data.ten_dt}}'"></task>
					</uib-tab>
					<uib-tab heading="Ghi chú">
						<note link='data'></note>
					</uib-tab>
					<uib-tab heading="Chứng từ">
						<bkct condition="ma_dt:'{{data.ma_dt}}'" run="data.ma_dt"></bkct>
					</uib-tab>
					<uib-tab heading="Lịch sử">
						<history link='data' module='dmdt'></history>
					</uib-tab>
				</uib-tabset>
			</div>
		</div>
	</div>
</div>
