<form-detail>
  <form-detail-body>
    <div class="form-group">
      <label class="control-label col-sm-2">{{getLabel('SAN_PHAM','Sản phẩm').text}}
        <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
      <div class="col-sm-10">
        <ng-typeahead
          module='dmvt'
          field-model='ten_vt'
          field-label='ma_vt'
          fields='ma_vt,ten_vt,ma_dvt,tk_vt,tk_gv'
          ng-model='dt_current.ten_vt'
          label='dt_current.ma_vt'
          ng-required='true'
          on-select="dt_current.ma_dvt=$item.ma_dvt;dt_current.tk_vt=$item.tk_vt;dt_current.tk_gv=$item.tk_gv"></ng-typeahead>
      </div>

    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">{{getLabel('DVT','Đơn vị tính').text}}
        <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
      <div class="col-sm-4">
        <ng-typeahead module='dmdvt' field-model='ma_dvt' field-label='ten_dvt' fields='ma_dvt,ten_dvt' ng-disabled="true" ng-model='dt_current.ma_dvt' label='ten_dvt' ng-required='true'></ng-typeahead>
      </div>

    </div>

    <div class="form-group">
      <label class="control-label col-sm-2"></label>
      <div class="col-sm-4">
        <a ng-click="open_lo=open_lo?false:true">
          Chọn lô và thuộc tính sản phẩm...</a>
      </div>
    </div>
    <div ng-show="open_lo">
      <div class="form-group">
        <label class="control-label col-sm-2">{{getLabel('lo','Lô').text}}</label>
        <div class="col-sm-4">
          <ng-typeahead
            condition="ma_vt:'{{dt_current.ma_vt}}'"
            module='tontucthoi'
            field-model='ma_lo'
            field-label='ma_lo'
            fields='ma_lo,han_sd,ma_tt1,ma_tt2,ma_tt3,ton00'
            ng-model='dt_current.ma_lo'
            label='dt_current.ma_lo'
            on-select="dt_current.han_sd = $item.han_sd;dt_current.ma_tt1=$item.ma_tt1;dt_current.ma_tt2=$item.ma_tt2;dt_current.ma_tt3 = $item.ma_tt3"></ng-typeahead>
        </div>

        <label class="control-label col-sm-2">Hạn sử dụng
          <span class="required" ng-if="dt_current.ma_lo">*</span></label>
        <div class="col-sm-4">

          <ng-datepicker ng-model='dt_current.han_sd' ng-required="dt_current.ma_lo" ng-readonly="true"></ng-datepicker>
        </div>

      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">{{getLabel('ma_tt1','Thuộc tính 1').text}}</label>
        <div class="col-sm-4">
          <input type="text" class="form-control " ng-model="dt_current.ma_tt1"/>
        </div>

        <label class="control-label col-sm-2">{{getLabel('ma_tt2','Thuộc tính 2').text}}</label>
        <div class="col-sm-4">
          <input type="text" class="form-control " ng-model="dt_current.ma_tt2"/>
        </div>

      </div>
      <div class="form-group">

        <label class="control-label col-sm-2">{{getLabel('ma_tt3','Thuộc tính 3').text}}</label>
        <div class="col-sm-4">
          <input type="text" class="form-control " ng-model="dt_current.ma_tt3"/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">{{getLabel('SO_LUONG','Số lượng').text}}
        <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
      <div class="col-sm-4">
        <input type="text" class="form-control" format="number" round="f_sl" ng-model="dt_current.sl_nhap" ng-required="true"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">{{getLabel('GIA_BAN','Giá bán').text}}
        {{data.ma_nt}}
        <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
      <div class="col-sm-4">
        <input type="text" class="form-control" format="number" round="f_gia_nt" ng-model="dt_current.gia_ban_nt" ng-required="true"/>
      </div>

      <label class="control-label col-sm-2" ng-show="data.ma_nt!='VND'">{{getLabel('GIA_BAN','Giá bán').text}}
        VND
        <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span>
      </label>
      <div class="col-sm-4" ng-show="data.ma_nt!='VND'">
        <input type="text" class="form-control " format="number" round="f_gia" ng-model="dt_current.gia_ban" ng-required="true"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">{{getLabel('TIEN','Tiền').text}}
        {{data.ma_nt}}
        <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
      <div class="col-sm-4">
        <input type="text" class="form-control" format="number" round="f_tien_nt" ng-model="dt_current.tien_nt" ng-required="true"/>
      </div>

      <label class="control-label col-sm-2" ng-show="data.ma_nt!='VND'">{{getLabel('TIEN','Tiền').text}}
        VND
        <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
      <div class="col-sm-4" ng-show="data.ma_nt!='VND'">
        <input type="text" class="form-control " format="number" round="f_tien" ng-model="dt_current.tien" ng-required="true"/>
      </div>

    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">{{getLabel('TY_LE_CK','Tỷ lệ CK').text}}</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" format="number" ng-model="dt_current.ty_le_ck" ng-required="true"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">{{getLabel('TIEN_CK','Tiền CK').text}}
        {{data.ma_nt}}</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" format="number" round="f_tien_nt" ng-model="dt_current.tien_ck_nt"/>
      </div>

      <label class="control-label col-sm-2" ng-show="data.ma_nt!='VND'">{{getLabel('TIEN_CK_QD','Tiền CK quy đổi').text}}</label>
      <div class="col-sm-4" ng-show="data.ma_nt!='VND'">
        <input type="text" class="form-control " format="number" round="f_tien" ng-model="dt_current.tien_ck"/>
      </div>

    </div>

    <!--<div class="form-group"> <label class="control-label col-sm-2">{{getLabel('TK_TRA_LAI','TK trả lại').text}} </label> <div class="col-sm-4"> <ng-typeahead module='dmtk' field-model='tk' field-label='ten_tk' fields='tk,ten_tk'
    ng-model='dt_current.tk_tl' label='dt_current.ten_tk_tl' condition ="loai_tk:1"> </ng-typeahead> </div> <div class=' col-sm-6 field-label'>{{dt_current.ten_tk_tl}}</div> </div>-->
    <!---gia von-->
    <div class="form-group"   ng-show="app_info.show_gia_von">
      <div class="col-sm-offset-2 col-sm-10 checkbox">
        <label><input type="checkbox" ng-model="dt_current.pn_gia_tb"/>{{getLabel('TU_XAC_DINH_GIA_VON','Tự xác định giá vốn').text}}
        </label>
      </div>
    </div>

    <div class="form-group"   ng-show="app_info.show_gia_von">
      <label class="control-label col-sm-2">{{getLabel('GIA_VON','Giá vốn').text}} {{data.ma_nt}} </label>
      <div class="col-sm-4">
        <input type="text" class="form-control" format="number" round="f_gia_nt" ng-model="dt_current.gia_von_nt"/>
      </div>

      <label class="control-label col-sm-2" ng-show="data.ma_nt!='VND'">{{getLabel('GIA_VON','Giá vốn').text}} VND</label>
      <div class="col-sm-4" ng-show="data.ma_nt!='VND'">
        <input type="text" class="form-control " format="number" round="f_gia" ng-model="dt_current.gia_von"/>
      </div>

    </div>

    <div class="form-group"   ng-show="app_info.show_gia_von">
      <label class="control-label col-sm-2">{{getLabel('TIEN_NHAP','Tiền  nhập').text}} {{data.ma_nt}}</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" ng-readonly='true' format="number" round="f_tien_nt" ng-model="dt_current.tien_nhap_nt"/>
      </div>
      <label class="control-label col-sm-2" ng-show="data.ma_nt!='VND'">{{getLabel('TIEN_NHAP_QD','Tiền  nhập  quy đổi').text}}</label>
      <div class="col-sm-4" ng-show="data.ma_nt!='VND'">
        <input type="text" class="form-control " ng-readonly='true' format="number" round="f_tien" ng-model="dt_current.tien_nhap"/>
      </div>

    </div>
    <!--<div class="form-group"> <label class="control-label col-sm-2">{{getLabel('TK_VAT_TU','TK vật tư').text}} <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label> <div class="col-sm-4"> <ng-typeahead
    module='dmtk' field-model='tk' field-label='ten_tk' fields='tk,ten_tk' ng-model='dt_current.tk_vt' label='dt_current.ten_tk_vt' ng-required='true' condition ="loai_tk:1"> </ng-typeahead> </div> <div class=' col-sm-6
    field-label'>{{dt_current.ten_tk_vt}}</div> </div> <div class="form-group"> <label class="control-label col-sm-2">{{getLabel('TK_GIA_VON','TK giá vốn').text}} <span class='required' title="{{getLabel('NOT_EMPTY','không được
    trống').text}}">(*)</span></label> <div class="col-sm-4"> <ng-typeahead module='dmtk' field-model='tk' field-label='ten_tk' fields='tk,ten_tk' ng-model='dt_current.tk_gv' label='dt_current.ten_tk_gv' ng-required='true' condition ="loai_tk:1">
    </ng-typeahead> </div> <div class=' col-sm-6 field-label'>{{dt_current.ten_tk_gv}}</div> </div>-->
    <div class="form-group">
      <label class="control-label col-sm-2">{{getLabel('LY_DO_TRA_LAI','Lý do trả lại').text}}</label>
      <div class="col-sm-4">
        <ng-selector module="reason" fields="_id,reason_name" field-model="_id" field-label="reason_name" condition="reason_type:'RETURN'" ng-model='data.id_reason' default-values="reason_type:'RETURN'"></ng-selector>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">{{getLabel('VU_VIEC','Vụ việc').text}}</label>
      <div class="col-sm-4">
        <ng-typeahead module='dmdt' field-model='ten_dt' field-label='ma_dt' fields='ma_dt,ten_dt' ng-model='dt_current.ten_dt' label='dt_current.ma_dt'></ng-typeahead>
      </div>
      <label class="control-label col-sm-2">{{getLabel('HOP_DONG','Hợp đồng').text}}</label>
      <div class="col-sm-4">
        <ng-typeahead module='contract' field-model='ten_hd' field-label='so_hd' fields='so_hd,ten_hd' ng-model='dt_current.ten_hd' label='dt_current.ma_hd'></ng-typeahead>
      </div>
    </div>

  </form-detail-body>
</form-detail>
