<form-input auto-height="true">
	<form-input-body>
		<div class="row">
			<div class="form-group">
				<label class="control-label">Tên liên kết <span style='color:red' title='Không được trống'>(*)</span></label>
				<div>
					<input type="text"  class="form-control" ng-model='data.name' ng-required ="true">
					
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">URL <span style='color:red' title='Không được trống'>(*)</span></label>
				<div>
					<input type="url" class="form-control" ng-model='data.url'  ng-required ="true">
				</div>
			</div>
		</div>
		
	</form-input-body>
</form-input>