<form-detail auto-height="false">
  <form-detail-body>
    <div class="form-group">
      <label class="control-label col-sm-2">{{getLabel('SAN_PHAM','Sản phẩm').text}}
        <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
      <div class="col-sm-10">
        <ng-typeahead
          module='dmvt'
          field-model='ten_vt'
          field-label='ma_vt'
          fields='ma_vt,ten_vt,ma_dvt,gia_ban_le,tk_vt,tk_dt,tk_gv,ty_le_ck'
          ng-model='dt_current.ten_vt'
          label='dt_current.ma_vt'
          ng-required='true'
          on-select="dt_current.ma_dvt=$item.ma_dvt
            ;dt_current.gia_ban_nt = $item.gia_ban_le
            ;dt_current.tk_vt=$item.tk_vt
            ;dt_current.tk_dt=$item.tk_dt;dt_current.tk_gv=$item.tk_gv
            ;dt_current.ty_le_ck = $item.ty_le_ck
            ;tinhCkvt(dt_current)">
        </ng-typeahead>
      </div>

    </div>
    <div class="form-group">
      <label class="control-label col-sm-2"></label>
      <div class="col-sm-4">
        <a ng-click="open_lo=open_lo?false:true">
          Chọn lô và thuộc tính sản phẩm...</a>
      </div>
    </div>
    <div ng-show="open_lo">
      <div class="form-group">
        <label class="control-label col-sm-2">{{getLabel('lo','Lô').text}}</label>
        <div class="col-sm-4">
          <ng-typeahead
            condition="ma_vt:'{{dt_current.ma_vt}}'"
            module='tontucthoi'
            field-model='ma_lo'
            field-label='ma_lo'
            fields='ma_lo,han_sd,ma_tt1,ma_tt2,ma_tt3,ton00'
            ng-model='dt_current.ma_lo'
            label='dt_current.ma_lo'
            on-select="dt_current.han_sd = $item.han_sd;dt_current.ma_tt1=$item.ma_tt1;dt_current.ma_tt2=$item.ma_tt2;dt_current.ma_tt3 = $item.ma_tt3;tinhCkvt(dt_current)"></ng-typeahead>
        </div>

        <label class="control-label col-sm-2">Hạn sử dụng
          <span class="required" ng-if="dt_current.ma_lo">*</span></label>
        <div class="col-sm-4">

          <ng-datepicker ng-model='dt_current.han_sd' ng-required="dt_current.ma_lo" ng-readonly="true"></ng-datepicker>
        </div>

      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">{{getLabel('ma_tt1','Thuộc tính 1').text}}</label>
        <div class="col-sm-4">
          <input type="text" class="form-control " ng-model="dt_current.ma_tt1" ng-change="tinhCkvt(dt_current)"/>
        </div>

        <label class="control-label col-sm-2">{{getLabel('ma_tt2','Thuộc tính 2').text}}</label>
        <div class="col-sm-4">
          <input type="text" class="form-control " ng-model="dt_current.ma_tt2" ng-change="tinhCkvt(dt_current)"/>
        </div>

      </div>
      <div class="form-group">

        <label class="control-label col-sm-2">{{getLabel('ma_tt3','Thuộc tính 3').text}}</label>
        <div class="col-sm-4">
          <input type="text" class="form-control " ng-model="dt_current.ma_tt3" ng-change="tinhCkvt(dt_current)"/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">{{getLabel('DVT','Đơn vị tính').text}}
        <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
      <div class="col-sm-4">
        <ng-typeahead module='dmdvt' field-model='ma_dvt' field-label='ten_dvt' fields='ma_dvt,ten_dvt' ng-disabled='true' ng-model='dt_current.ma_dvt' label='ten_dvt' ng-required='true'></ng-typeahead>
      </div>
      <!--<label class="control-label col-sm-2">{{getLabel('MA_KHO','Mã kho').text}} <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label> <div class="col-sm-4"> <ng-typeahead module='dmkho'
      field-model='ten_kho' field-label='ma_kho' fields='ma_kho,ten_kho' ng-model='dt_current.ten_kho' label='dt_current.ma_kho' ng-required='true'> </ng-typeahead> </div>-->
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">{{getLabel('quy_cach','Quy cách, chất liệu...').text}}</label>
      <div class="col-sm-10">
        <input type='text' class="form-control" ng-model="dt_current.dien_giai" placeholder="{{getLabel('quy_cach','Quy cách, chất liệu...').text}}"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">{{getLabel('ton_kho','Tồn kho').text}}</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" format="number" round="f_sl" ng-model="dt_current.ton_kho" ng-readonly="true"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">{{getLabel('SO_LUONG','Số lượng').text}}
        <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
      <div class="col-sm-4">
        <input type="text" class="form-control" format="number" round="f_sl" ng-model="dt_current.sl_xuat" ng-required="true"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">{{getLabel('GIA_BAN','Giá bán').text}}
        {{data.ma_nt}}
        <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
      <div class="col-sm-4">
        <input type="text" class="form-control" format="number" round="f_gia_nt" ng-model="dt_current.gia_ban_nt" ng-required="true"/>
      </div>

      <label class="control-label col-sm-2" ng-show="data.ma_nt!='VND'">{{getLabel('GIA_BAN','Giá bán').text}}
        VND
        <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
      <div class="col-sm-4" ng-show="data.ma_nt!='VND'">
        <input type="text" class="form-control" format="number" round="f_tien" ng-model="dt_current.gia_ban" ng-required="true"/>
      </div>

    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">{{getLabel('DOANH_THU','Doanh thu').text}}
        {{data.ma_nt}}
        <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
      <div class="col-sm-4">
        <input type="text" class="form-control" format="number" round="f_tien_nt" ng-model="dt_current.tien_nt" ng-required="true"/>
      </div>

      <label class="control-label col-sm-2" ng-show="data.ma_nt!='VND'">{{getLabel('DOANH_THU','Doanh thu').text}}
        VND
        <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
      <div class="col-sm-4" ng-show="data.ma_nt!='VND'">
        <input type="text" class="form-control" format="number" round="f_tien" ng-model="dt_current.tien" ng-required="true"/>
      </div>

    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">{{getLabel('TK_DOANH_THU','TK doanh thu').text}}
        <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
      <div class="col-sm-4">
        <ng-typeahead module='dmtk' field-model='tk' field-label='ten_tk' fields='tk,ten_tk' ng-model='dt_current.tk_dt' label='dt_current.ten_tk_dt' ng-required='true' condition="loai_tk:1"></ng-typeahead>
      </div>
      <div class=' col-sm-6 field-label'>{{dt_current.ten_tk_dt}}</div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">{{getLabel('TY_LE_CK','Tỷ lệ CK').text}}</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" format="number" ng-model="dt_current.ty_le_ck" ng-required="true"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">{{getLabel('TIEN_CK','Tiền CK').text}}
        {{data.ma_nt}}</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" format="number" round="f_tien_nt" ng-model="dt_current.tien_ck_nt"/>
      </div>

      <label class="control-label col-sm-2" ng-show="data.ma_nt!='VND'">{{getLabel('TIEN_CK_QD','Tiền CK quy đổi').text}}</label>
      <div class="col-sm-4" ng-show="data.ma_nt!='VND'">
        <input type="text" class="form-control " format="number" round="f_tien" ng-model="dt_current.tien_ck"/>
      </div>

    </div>
    <div class="form-group" ng-show="dt_current.tien_ck_nt!=0 || dt_current.tien_ck!=0 ">
      <label class="control-label col-sm-2">{{getLabel('TK_CK','TK chiết khấu').text}}
      </span>
    </label>
    <div class="col-sm-4">
      <ng-typeahead module='dmtk' field-model='tk' field-label='ten_tk' fields='tk,ten_tk' ng-model='dt_current.tk_ck' label='dt_current.ten_tk_ck' condition="loai_tk:1"></ng-typeahead>
    </div>
    <div class=' col-sm-6 field-label'>{{dt_current.ten_tk_ck}}</div>
  </div>

  <div class="form-group" ng-show="app_info.show_gia_von">
    <label class="control-label col-sm-2"></label>
    <div class="col-sm-4 checkbox">
      <label><input type="checkbox" ng-model="dt_current.px_gia_dd"/>{{getLabel('PHIEU_XUAT_GIA_DD','Phiếu xuất giá đích danh').text}}
      </label>
    </div>
  </div>
  <div class="form-group"  ng-show="app_info.show_gia_von">
    <label class="control-label col-sm-2">{{getLabel('GIA_VON','Giá vốn').text}} VND</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" format="number" round="f_tien" ng-model="dt_current.gia_von_nt" ng-readonly="!dt_current.px_gia_dd"/>
    </div>

    <label class="control-label col-sm-2">{{getLabel('TIEN_VON','Tiền vốn').text}} VND</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" format="number" round="f_tien" ng-model="dt_current.tien_xuat_nt" ng-readonly="!dt_current.px_gia_dd"/>
    </div>
  </div>

  <div class="form-group"  ng-show="app_info.show_gia_von">
    <label class="control-label col-sm-2">{{getLabel('TK_VAT_TU','TK vật tư').text}}
      <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
    <div class="col-sm-4">
      <ng-typeahead module='dmtk' field-model='tk' field-label='ten_tk' fields='tk,ten_tk' ng-model='dt_current.tk_vt' label='dt_current.ten_tk_vt' ng-required='true' condition="loai_tk:1"></ng-typeahead>
    </div>
    <div class=' col-sm-6 field-label'>{{dt_current.ten_tk_vt}}</div>
  </div>

  <div class="form-group"  ng-show="app_info.show_gia_von">
    <label class="control-label col-sm-2">{{getLabel('TK_GIA_VON','TK giá vốn').text}}
      <span class='required' title="{{getLabel('NOT_EMPTY','không được trống').text}}">(*)</span></label>
    <div class="col-sm-4">
      <ng-typeahead module='dmtk' field-model='tk' field-label='ten_tk' fields='tk,ten_tk' ng-model='dt_current.tk_gv' label='dt_current.ten_tk_gv' ng-required='true' condition="loai_tk:1"></ng-typeahead>
    </div>
    <div class=' col-sm-6 field-label'>{{dt_current.ten_tk_gv}}</div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">{{getLabel('VU_VIEC','Vụ việc').text}}</label>
    <div class="col-sm-4">
      <ng-typeahead module='dmdt' field-model='ten_dt' field-label='ma_dt' fields='ma_dt,ten_dt' ng-model='dt_current.ten_dt' label='dt_current.ma_dt'></ng-typeahead>
    </div>
    <label class="control-label col-sm-2">{{getLabel('HOP_DONG','Hợp đồng').text}}</label>
    <div class="col-sm-4">
      <ng-typeahead module='contract' field-model='ten_hd' field-label='so_hd' fields='so_hd,ten_hd' ng-model='dt_current.ten_hd' label='dt_current.ma_hd'></ng-typeahead>
    </div>
  </div>

</form-detail-body>
</form-detail>
