<div>
	<div class="table-responsive detail-table">
		<table class="table table-hover">
			<tr>
				<th class='text-center'></th>
				<th>{{getLabel('LOAI_CP','Loại chi phí').text}}</th>
				<th>{{getLabel('TIEN','Tiền').text}}</th>


			</tr>
			<tr ng-repeat ="r in ngData">

				<td class="action-buttons">
					<div>
						<button class="btn btn-default btn-sm" style="border:none!important" ng-click='editDetail(r.line)' title="Sửa chi tiết">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</button>
						<button class="btn btn-default btn-sm"  style="border:none!important"  title="Xóa dòng này" ng-click="delete1Row(r)">&times;</button>
					</div>
				</td>

				<td  style='cursor:pointer' ng-click='editDetail(r.line)'>
					<div class='form-control'>{{r.ten_cp}}</div>
				</td>

				<td>
					<input type='text' format='number' round="f_tien_nt" class='form-control' ng-model='r.tien_cp_nt'/>

					<span ng-show="false">
						{{r.tien_cp = STP.round(r.tien_cp_nt*ngMasterData.ty_gia,0)|number:f_tien}}
					</span>
				</td>
			</tr>

		</table>
	</div>
	<div style='padding-bottom:13px;padding-left:10px;padding-top:10px'>
		<div class='btn-group'>
			<button type="button" class='btn btn-xs btn-primary'  ng-click="addDetail()">
				<i class="fa fa-plus-square-o" aria-hidden="true"></i> {{getLabel('dong_moi','Thêm dòng mới').text}}
			</button>
			<button type="button" class='btn btn-xs btn-info' ng-click="allocate({allocate_by_field:'sl_nhap'})" title="{{getLabel('PHAN_BO_CHO_VT','Phân bổ chi phí cho các vật tư').text}}">
				{{getLabel('PHAN_BO','Phân bổ').text}}
			</button>
		</div>
	</div>
</div>
