<div class="scrollable"> <div class="scrollable-header"><stplistheader></stplistheader></div>
<div class="row scrollable-content"> <div class="table-list">
	<table class ="table table-striped">
		<tr>
			<th class="text-center"  style="width:30px" ng-show="multiSelect"><input type="checkbox" ng-model="selectionAll"></th><th style="width:30px"></th><th>Ngày BH</th><th>Tiền BH</th><th>Thời gian</th>
		</tr>
		<tr ng-repeat="r in list|limitTo:limitOpts.limit:limitOpts.begin" drag-to-dismiss="delete(r._id,dismissCB)" >
			<td width='30px' class="text-center" ng-show="multiSelect"> <input type="checkbox" ng-model="r.sel"/> </td><td class="text-center" style="width:30px"><div  ng-include="'templates/sys/quick-actions-list.html'"></div></td>
			<td    style='cursor:pointer' ng-click='edit(r._id)'>
				
					{{ r.start_date|date:'dd/MM/yyyy' }}
				
			</td>
			<td    style='cursor:pointer' ng-click='edit(r._id)'>
				
					{{ r.tien_nt|number:0 }} {{r.ma_nt}}
				
			</td>
			
			<td    style='cursor:pointer' ng-click='edit(r._id)'>
				
					{{ r.warranty_time }} {{r.unit_time_name}}
				
			</td>
		</tr>
	</table>
	<ng-page></ng-page>
</div>

</div></div>