<form-input auto-height="true"><form-input-body>
	<uib-tabset>
			<uib-tab heading='Thông tin chính'>
				<div class="form-group">
					<label class="control-label col-sm-2">Loại hợp đồng</label>
					<div class="col-sm-10 btn-toolbar">
						<div class='btn-group'>
							<button class='btn btn-default btn-sm' ng-model='data.loai_hd' uib-btn-radio='1'>Hợp đồng bán</button>
							<button class='btn btn-default btn-sm' ng-model='data.loai_hd' uib-btn-radio='2'>Hợp đồng mua</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">Số hợp đồng <span style='color:red' title='Không được trống'>(*)</span></label>
					<div class="col-sm-4">
						<input type="text" style="text-transform:uppercase" class="form-control" ng-model='data.so_hd' ng-required="true">
					</div>
					<label class="control-label col-sm-2">Ngày ký</label>
					<div class="col-sm-4">
						<ng-datepicker ng-model='data.ngay_hd'></ng-datepicker>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">Tên hợp đồng <span style='color:red' title='Không được trống'>(*)</span></label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model='data.ten_hd' ng-required="true">
					</div>
					<label class="control-label col-sm-2">Khách hàng  <span style='color:red' title='Không được trống'>(*)</span></label>
					<div class="col-sm-4">
						<ng-typeahead
							module='dmkh' fields='_id,ten_kh' field-model='ten_kh' field-label='_id'
							ng-model='data.ten_kh' label='data.id_kh' ng-required='true'>
						</ng-typeahead>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">Nhóm hợp đồng</label>
					<div class="col-sm-4">
						<ng-selector
							module="group" fields="_id,group_name" field-model="_id" field-label = "group_name"
							condition ="group_type:'CONTRACT'"  ng-model='data.nh_hd' default-values="group_type:'CONTRACT'">
						</ng-selector>
					</div>
					<label class="control-label col-sm-2">Người phụ trách <span style='color:red' title='Không được trống'>(*)</span></label>
					<div class="col-sm-4">
						<select ng-model="data.phu_trach" ng-options="r.email as r.name for r in members" ng-required="true" class="form-control">

						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">Ngày thực hiện</label>
					<div class="col-sm-4">
						<ng-datepicker ng-model='data.ngay_th'></ng-datepicker>
					</div>
					<label class="control-label col-sm-2">Ngày nghiệm thu</label>
					<div class="col-sm-4">
						<ng-datepicker ng-model='data.ngay_nt'></ng-datepicker>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">Giá trị hợp đồng</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" format='number' round="f_tien_nt" ng-model='data.tien_nt' ng-required="true" ng-change="tinhTienDotThanhToan()">
					</div>
					<div class="col-sm-2">
						<ng-selector
							module='dmnt' fields ='ma_nt,ten_nt' field-model='ma_nt' field-label='ten_nt'
							ng-model="data.ma_nt" ng-required="true">
						</ng-selector>
					</div>
					
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2">Trạng thái</label>
					<div class="col-sm-10 btn-toolbar">
						<div class='btn-group'>
							<button class='btn btn-default btn-sm' ng-model='data.progress' uib-btn-radio='0'>Chưa thực hiện</button>
							<button class='btn btn-default btn-sm' ng-model='data.progress' uib-btn-radio='1'>Đang thực hiện</button>
							<button class='btn btn-default btn-sm' ng-model='data.progress' uib-btn-radio='2'>Hoàn thành</button>
						</div>
						<div class='btn-group'>
							<button class='btn btn-default btn-sm' ng-model='data.progress' uib-btn-radio='3'>Tạm đừng</button>
							<button class='btn btn-default btn-sm' ng-model='data.progress' uib-btn-radio='4'>Đang chờ</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">Nhãn</label>
					<div class="col-sm-10">
							<ng-selector
								module='label' fields='label_name' field-model='label_name' field-label='label_name'
								multiple="true" ng-model='data.labels' empty_yn='true'
								condition ="label_type:'CONTRACT'" default-values="label_type:'CONTRACT'">
							</ng-selector>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 text-right">Có giá trị với </label>
					<div class="col-sm-10">
						<label ng-repeat="item in [{v:0,t:'Mọi người'},{v:1,t:'Chỉ người tạo'},{v:2,t:'Những người sau'}]" style="padding-right:10px">
							<input type='radio' ng-model='data.visible_to' name='visible_to' ng-value="item.v"/> {{item.t}}
						</label>
						<ui-select ng-show='data.visible_to==2'  multiple ng-model="data.visible_to_users" theme="bootstrap"  close-on-select="false"  title="Chọn một user">
							 <ui-select-match placeholder="Chọn user..">{{$item.name}}</ui-select-match>
							 <ui-select-choices repeat="person.email as person in members | propsFilter: {name: $select.search, email: $select.search}">

								 <small>
									 {{person.name}}

								 </small>
							 </ui-select-choices>
						 </ui-select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
							<label><input type="checkbox" ng-model="data.status" /> Còn sử dụng</label>
						</div>
					</div>
				</div>
			</uib-tab>
			<uib-tab heading="{{getLabel('dot_thanh_toan','Đợt thanh toán').text}}">
				<table class='table'>
					<tr><th></th><th>{{getLabel('ten_dot_tt','Tên đợt tt').text}} <span class='required'>(*)</span></th><th>{{getLabel('ngay_tt','Ngày tt').text}} <span class='required'>(*)</span></th><th>{{getLabel('ty_le_tt','Tỷ lệ tt').text}} <span class='required'>(*)</span></th><th>{{getLabel('tien_tt','Tiền tt').text}}</th></tr>
					
					<tr ng-repeat='p in data.dot_thanh_toan'>
						<td>
							<div  style='padding-right:10px;font-size: 18px;' title="Xóa dòng này" class="pull-left close" ng-click='STP.reject(data.dot_thanh_toan,{line:p.line})'>
								&times;
							</div>
						</td>
						<td>
							<input type='text' class='form-control' ng-model='p.ten_dot_tt' ng-required="true"/>
						</td>
						<td>
							<ng-datepicker ng-model="p.ngay_tt"  ng-required="true"></ng-datepicker>

						</td>
						<td>
							<input type='text' format='number' class='form-control' ng-model='p.ty_le' ng-change="p.tien_nt = STP.round(data.tien_nt*p.ty_le/100,f_tien_nt)"/>
						</td>
						<td>
							<input type='text' format='number' round='f_tien_nt' class='form-control' ng-model='p.tien_nt'/>
						</td>
					</tr>
					<tr>
						<td colspan='10'>
							<button type='button' class='btn btn-default btn-sm'
							ng-click='data.dot_thanh_toan = STP.add(data.dot_thanh_toan,{ty_le:0,tien_nt:0,ngay_tt:data.ngay_hd,ten_dot_tt: "Đợt " + (data.dot_thanh_toan.length+1)})'>Thêm</button>
						</td>
					</tr>
				</table>
			</uib-tab>
			<uib-tab heading="{{getLabel('BO_XUNG','Đặc thù').text}} (*)" ng-show="data.options && data.options.fields && data.options.fields.length>0">
				<!--extra fields-->
				<div class="form-group" ng-repeat="field in  data.options.fields">
					<label class="control-label col-md-2">{{field.title}} <span class="required" ng-show="field.required">(*)</span></label>
					<div class="col-md-4">
							<input type="text" ng-if="field.type=='text'"  ng-model="data.exfields[field.name]" class="form-control" ng-required="field.required"/>
							<input type="text" format='number' ng-if="field.type=='number'"  ng-model="data.exfields[field.name]" class="form-control"ng-required="field.required"/>
							<ng-datepicker ng-model="data.exfields[field.name]" ng-if="field.type=='date'" ng-required="field.required"></ng-datepicker>

					</div>
				</div>
				<!--end extra fields-->
			</uib-tab>
		</uib-tabset>
	</form-input-body></form-input>
