<div style="padding:10px">
	<h3>Quản lý hệ thống</h3>
	<div class="list-group">
		<a href='#!/users' class="list-group-item">Quản lý người dùng</a>
		<a href='#!/apps/all' class="list-group-item">Quản lý công ty, đơn vị sử dụng</a>
		<a href='#!/license' class="list-group-item">Quản lý bản quyền sản phẩm STP Enterpise</a>
		<a href='#!/trialinfo' class="list-group-item">Quản lý dùng thử sản phẩm STP Enterpise</a>
	  <a href='#!/trangthai' class="list-group-item">Trạng thái chứng từ</a>
		<a href ng-click="broadcast()" class="list-group-item">Phát thông báo</a>
	</div>
</div>
