<div class="modal-header">
	<button type="button" class="close" ng-click ='cancelFind()' aria-hidden="true"> &times;</button>
	<h4 class="modal-title" id="findModalLabel">
	   {{getLabel('DIEU_KIEN_LOC','Điều kiện lọc').text}}
	</h4>
 </div>
 <div class="modal-body">
	<form name="formFind" novalidate class="css-form form-horizontal">
		<div class="form-group" ng-if="condition.use.ngay">
			<label class="control-label col-sm-2">{{getLabel('TU_NGAY','Từ ngày').text}}</label>
			<div class="col-sm-4">
				<ng-datepicker ng-model='condition.tu_ngay' ng-required='true'></ng-datepicker>
			</div>
			<label class="control-label col-sm-2">{{getLabel('DEN_NGAY','Đến ngày').text}}</label>
			<div class="col-sm-4">
				<ng-datepicker ng-model='condition.den_ngay'  ng-required='true'></ng-datepicker>
			</div>
		</div>
        <div class="form-group" ng-if="condition.use.nam">
			<label class="control-label col-sm-2">{{getLabel('NAM','Năm').text}}</label>
			<div class="col-sm-4">
				<input type="number" class="form-control" ng-model="condition.nam" ng-required="true"/>
			</div>
			
		</div>
        <div class="form-group">
			<label class="control-label col-sm-2"  ng-if="condition.use.tu_nam">{{getLabel('TU_NAM','Từ năm').text}}</label>
			<div class="col-sm-4"  ng-if="condition.use.tu_nam">
				<input type="number" class="form-control" ng-model="condition.tu_nam" ng-required="true"/>
			</div>
            
            <label class="control-label col-sm-2"  ng-if="condition.use.den_nam">{{getLabel('DEN_NAM','Đến năm').text}}</label>
			<div class="col-sm-4"  ng-if="condition.use.den_nam">
				<input type="number" class="form-control" ng-model="condition.den_nam" ng-required="true"/>
			</div>
			
		</div>
		
		<div class="form-group" ng-if="condition.use.kh">
			<label class="control-label col-sm-2">{{getLabel('KHACH_HANG','Khách hàng').text}}</label>
			<div class="col-sm-4">
				<ng-typeahead module="dmkh" fields="ma_kh,ten_kh" field-model="ma_kh" field-label="ten_kh"
					ng-model="condition.ma_kh" label ="condition.ten_kh">
				</ng-typeahead>
			</div>
			<div class="col-sm-6">{{condition.ten_kh}}</div>
		</div>
        <div class="form-group" ng-if="condition.use.nv">
			<label class="control-label col-sm-2">{{getLabel('NHAN_VIEN','Nhân viên').text}}</label>
			<div class="col-sm-4">
				<select ng-model="condition.user_created" ng-options="r.email as r.name for r in members" class="form-control">
					<option value="">{{getLabel('TAT_CA','Tất cả').text}}</option>
				</select>
			</div>
			<div class="col-sm-6">{{condition.ten_nv}}</div>
		</div>
		
		
	</form>
 </div>
 <div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="okFind()" ng-disabled='formFind.$invalid'  ng-disabled="formFind.$invalid">
	   Nhận
	</button>
	<button type="button" class="btn btn-default" ng-click='cancelFind()'>Hủy</button>
 </div>