<div class="scrollable"> <div class="scrollable-header"><stplistheader></stplistheader></div>
<div class="row scrollable-content"> <div class="table-list">
	<table class ="table table-striped">
		<tr><th class="text-center"  style="width:30px" ng-show="multiSelect"><input type="checkbox" ng-model="selectionAll"></th><th style="width:30px"></th><th>Nhãn</th></tr>
		<tr ng-repeat="r in list|orderBy:'label_type' track by r._id" ng-style="{'background-color':'{{r.color}}'}">
			<td width='30px' class="text-center" ng-show="multiSelect"> <input type="checkbox" ng-model="r.sel"/> </td><td class="text-center" style="width:30px"><div  ng-include="'templates/sys/quick-actions-list.html'"></div></td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				
					 {{r.label_type}} - {{ r.label_name }}
				
				
			</td>
            
			
            
		</tr>
	</table><ng-page></ng-page></div>
</div></div>