<div class="modal-body">
	<div class="container-fluid">
		<form name="form" novalidate class ="css-form form-horizontal form-input" >
			<div class="form-group">
				<div class="col-sm-12">
					<label>Thời gian gửi</label>
					<div>
						<select ng-model='data.send_type' class="form-control" ng-options ="type.id as type.name for type in send_types">
						</select>
					</div>
					<div ng-show='data.send_type==1'>
						<br/>
						<ng-datepicker ng-model='data.schedule'></ng-datepicker>
						<div>
							<uib-timepicker ng-model="data.schedule"  hour-step="1" minute-step="1" show-meridian="true"></uib-timepicker>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<label>Lặp lại</label>
					<select class='form-control' ng-model='data.repeat' ng-options ="repeat.id as repeat.name for repeat in repeats">
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<a class="btn btn-md btn-primary" ng-click="save()">Hẹn lịch gửi</a>
					<a class="btn btn-md btn-default" ng-click="cancel()">Hủy</a>
				</div>
			</div>
		</form>
	</div>
</div>