<voucher>
	<voucher-body>
		<div class="table-responsive">
			<table class="table table-hover">
				<tr>
					<th class="text-center" style="width:30px" ng-show="multiSelect"><input type="checkbox" ng-model="selectionAll" ng-change="selectionAllChange(selectionAll)"/></th>
					<th style="width:30px"></th>
					<th><a ng-click="reverse=!reverse;order('ngay_ct',reverse)">{{getLabel('CHUNG_TU','Chứng từ').text}}</a></th>

					<th><a ng-click="reverse=!reverse;order('t_cp_nt',reverse)">{{getLabel('tien_phi','Tiền phí').text}}</a></th>
					<th><a ng-click="reverse=!reverse;order('t_thue_vao_nt',reverse)">{{getLabel('VAT','VAT').text}}</a></th>
					<th><a ng-click="reverse=!reverse;order('t_tt_nt',reverse)">{{getLabel('TONG_THANH_TOAN','Tổng thanh toán').text}}</a></th>
				</tr>
				<tr ng-repeat="r in list|limitTo:limitOpts.limit:limitOpts.begin" drag-to-dismiss="delete(r._id,dismissCB)">
					<td width='30px' class="text-center" ng-show="multiSelect">
						<input type="checkbox" ng-model="r.sel"/>
					</td>
					<td class="text-center" style="width:30px">
						<div ng-include="'templates/sys/quick-actions.html'"></div>
					</td>
					<td style='cursor:pointer' ng-click='edit(r._id)'>
						<div>
							<span ng-if='r.ten_trang_thai' class="label bg-{{r.color}}">[{{ r.ten_trang_thai}}]</span>
							<span>Số: {{ r.so_ct }}</span>

							<span>, ngày: {{ r.ngay_ct|date:'dd/MM/yyyy'}}</span>

							({{r.ma_nt}})</div>
						<div ng-if='r.dien_giai'>{{STP.tructed(r.dien_giai,32,"left")}}</div>
						<div ng-if="r.ten_kh">{{getLabel('NHA_CC','Nhà cung cấp').text}}:
							{{r.ten_kh}}</div>
					</td>
					<td style='cursor:pointer' ng-click='edit(r._id)'>
						{{ r.t_cp_nt|number:(r.ma_nt=='VND'?app_info.options.f_tien:app_info.options.f_tien_nt) }}
					</td>

					<td style='cursor:pointer' ng-click='edit(r._id)'>
						{{ r.t_thue_vao_nt|number:(r.ma_nt=='VND'?app_info.options.f_tien:app_info.options.f_tien_nt) }}
					</td>

					<td style='cursor:pointer' ng-click='edit(r._id)'>
						{{ r.t_tt_nt|number:(r.ma_nt=='VND'?app_info.options.f_tien:app_info.options.f_tien_nt) }}
					</td>

				</tr>
			</table>
			<ng-page></ng-page>
		</div>
	</voucher-body>
</voucher>
